@page
@model MM.Pages.Admin.AdminHome2Model
@using Microsoft.AspNetCore.Authorization;
@{
    ViewData["Title"] = "Admin Home";
    ViewData["Page"] = "Admin Home";



    bool isAuthorizedForDelete = AuthorizationService.AuthorizeAsync(User, MMPolicies.AllowSetupDelete).Result.Succeeded;
    bool isAuthorizedForUpdate = AuthorizationService.AuthorizeAsync(User, MMPolicies.AllowSetupUpdate).Result.Succeeded;


}

<style>
    a:link {
        text-decoration: none;
        color: #51cbce;
    }

    a:hover {
        color: indianred;
    }

    .list-height {
        padding-top: 1px !important;
    }

    @@media only screen and (max-width: 600px) {
        .list-height {
            height: inherit;
        }
    }

    .icon-square {
        background-color: aliceblue;
        border-radius: 10px;
    }

        .icon-square:hover {
            transform: scale(1.05);
            box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
        }
</style>

<div class="content">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats bg-primary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <i class="nc-icon nc-globe text-warning"></i>
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Active Members</p>
                                <p class="card-title">15000<p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-group"></i>
                        View All Active Member Details
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats bg-danger">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <i class="nc-icon nc-circle-10 text-primary"></i>
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Individuals</p>
                                <p class="card-title">12000<p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-user-o"></i>
                        <a href="/Reports/AllIndividualInformation"> View All Individual Member Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats bg-warning">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <i class="nc-icon nc-bank text-dark"></i>
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Non Individuals</p>
                                <p class="card-title">3000<p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-building-o"></i>
                        <a href="/Reports/AllNonIndividualInformation"> View All Non Individual Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats bg-secondary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <i class="nc-icon nc-simple-remove text-danger"></i>
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Resigned</p>
                                <p class="card-title">2500<p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-remove"></i>
                        <a href="/Reports/ResignedMembers"> View All Resigned Member Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="text-center">
                        <h3>Dashboard</h3>
                    </div>
                    <hr />
                </div>
                <div class="card-body list-height mb-lg-3 mb-sm-1">
                    <a href="/Admin/Index">
                        <div class="mx-auto text-center icon-square">
                            <img src="/assets/img/admin-dash.png" style="width: 150px; height: 150px " class="card-img-top rounded" alt="">
                        </div>
                    </a>
                    <div class="text-center mt-1"><a class="font-weight-bold" href="/Admin/Index">View Dashboard</a></div>
                </div>

            </div>

            <div class="card">
                <div class="card-header">
                    <div class="text-center">
                        <h3>My Profile</h3>
                    </div>
                    <hr />
                </div>
                <div class="card-body list-height">
                    <div class="row">
                        <div class="col-lg-12 col-sm-6 mb-lg-5 mb-sm-1">
                            <a href="/Account/Index">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/admin-profile.png" width="150" height="150" class="rounded" alt="">
                                </div>
                            </a>
                            <div class="text-center mt-1"><a class="font-weight-bold" href="/Account/Index">View Profile</a></div>
                        </div>
                        <div class="col-lg-12 col-sm-6 mb-lg-2 mb-sm-1">
                            <a href="/Account/ChangePassword">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/admin-pass.png" width="150" height="150" class="rounded" alt="">
                                </div>
                            </a>
                            <div class="text-center mt-1"><a class="font-weight-bold" href="/Account/ChangePassword">Change Password</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="text-center">
                        <h3>Members</h3>
                    </div>
                    <hr />
                </div>
                <div class="card-body list-height">
                    <div class="row mb-lg-5">
                        <div class="col-6 mb-sm-3 mb-lg-0">
                            <a href="/Manage/ListIndividual">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/memind.png" width="150" height="150" class="rounded" alt="">
                                </div>
                            </a>
                            <div class="text-center mt-1"><a class="font-weight-bold" href="/Manage/ListIndividual">Individuals</a></div>
                        </div>
                        <div class="col-6 mb-sm-3 mb-lg-0">
                            <a href="/Manage/ListNonIndividual">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/memorg.png" width="150" height="150" class="rounded" alt="">
                                </div>
                            </a>
                            <div class="text-center mt-1"><a class="font-weight-bold" href="/Manage/ListNonIndividual">Non Individuals</a></div>
                        </div>
                    </div>
                    <div class="row mb-lg-5">
                        <div class="col-6 mb-sm-3 mb-lg-0">
                            <a href="/Manage/ListContacts">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/memnon.png" width="150" height="150" class="rounded" alt="">
                                </div>
                            </a>
                            <div class="text-center mt-1"><a class="font-weight-bold" href="/Manage/ListContacts">Non Members</a></div>
                        </div>
                        <div class="col-6 mb-sm-3 mb-lg-0">
                            <a href="/new/Individual?ReqId=1">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/addind.png" width="150" height="150" class="rounded" alt="">
                                </div>
                            </a>
                            <div class="text-center mt-1"><a class="font-weight-bold" href="/new/Individual?ReqId=1">Add Individuals</a></div>
                        </div>
                    </div>
                    <div class="row mb-lg-5">
                        <div class="col-6">
                            <a href="/new/Individual?ReqId=2">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/addprof.png" width="150" height="150" class="rounded" alt="">
                                </div>
                            </a>
                            <div class="text-center mt-1"><a class="font-weight-bold" href="/new/Individual?ReqId=2">Add Professional</a></div>
                        </div>
                        <div class="col-6">
                            <a href="/new/NonIndividual">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/addnon.png" width="150" height="150" class="rounded" alt="">
                                </div>
                            </a>
                            <div class="text-center mt-1"><a class="font-weight-bold" href="/new/NonIndividual">Add Organization</a></div>
                        </div>
                    </div>
                    <div class="col-lg-12">&nbsp;</div>
                    <div class="col-lg-12">&nbsp;</div>
                    <div class="col-lg-12">&nbsp;</div>
                </div>

            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="text-center">
                        <h3>Reports</h3>
                    </div>
                    <hr />
                </div>
                <div class="card-body list-height">
                    <div class="row mb-lg-4">
                        <div class="col-lg-2 col-md-4 col-sm-6 mb-sm-3 mb-lg-0">
                            <div class="text-center icon-square">
                                <img src="/assets/img/repapp.png" width="150" height="150" class="rounded" alt="">
                            </div>
                            <div class="text-center mt-1"><a class="font-weight-bold" href="/Reports/ApplicationProgress">Application Progress</a></div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 mb-sm-3 mb-lg-0">
                            <div class="text-center icon-square">
                                <img src="/assets/img/repmem.png" width="150" height="150" class="rounded" alt="">
                            </div>
                            <div class="text-center mt-1"><a class="font-weight-bold" href="/Reports/AllIndividualInformation">All Individual Information</a></div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 mb-sm-3 mb-lg-0">
                            <div class="text-center icon-square">
                                <img src="/assets/img/admin-report.png" width="150" height="150" class="rounded" alt="">
                            </div>
                            <div class="text-center mt-1"><a class="font-weight-bold" href="/Reports/AllNonIndividualInformation">All Non Individual Information</a></div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 mb-sm-3 mb-lg-0">
                            <div class="text-center icon-square">
                                <img src="/assets/img/repact.png" width="150" height="150" class="rounded" alt="">
                            </div>
                            <div class="text-center mt-1"><a class="font-weight-bold" href="/Reports/UserActivity">User Activity</a></div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 mb-sm-3 mb-lg-0">
                            <div class="text-center icon-square">
                                <img src="/assets/img/repjob.png" width="150" height="150" class="rounded" alt="">
                            </div>
                            <div class="text-center mt-1"><a class="font-weight-bold" href="/Reports/JobPortalIndividual">Job Portal Individual</a></div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 mb-sm-3 mb-lg-0">
                            <div class="text-center icon-square">
                                <img src="/assets/img/repres.png" width="150" height="150" class="rounded" alt="">
                            </div>
                            <div class="text-center mt-1"><a class="font-weight-bold" href="/Reports/ResignedMembers">Resigned Members</a></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-md-4 col-sm-6 mb-sm-3 mb-lg-0">
                            <div class="text-center icon-square">
                                <img src="/assets/img/repindaddrs.png" width="150" height="150" class="rounded" alt="">
                            </div>
                            <div class="text-center mt-1"><a class="font-weight-bold" href="/Reports/IndividualAddress">Individual Address</a></div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 mb-sm-3 mb-lg-0">
                            <div class="text-center icon-square">
                                <img src="/assets/img/repcomadd.png" width="150" height="150" class="rounded" alt="">
                            </div>
                            <div class="text-center mt-1"><a class="font-weight-bold" href="/Reports/CompanyAddress">Company Address</a></div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 mb-sm-3 mb-lg-0">
                            <div class="text-center icon-square">
                                <img src="/assets/img/repaddiadd.png" width="150" height="150" class="rounded" alt="">
                            </div>
                            <div class="text-center mt-1"><a class="font-weight-bold" href="/Reports/AdditionalContactsAddress">Additional Contacts Address</a></div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 mb-sm-3 mb-lg-0">
                            <div class="text-center icon-square">
                                <img src="/assets/img/repindmail.png" width="150" height="150" class="rounded" alt="">
                            </div>
                            <div class="text-center mt-1"><a class="font-weight-bold" href="/Reports/MembersMailingList">Individual Mailing List</a></div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 mb-sm-3 mb-lg-0">
                            <div class="text-center icon-square">
                                <img src="/assets/img/repcomailist.png" width="150" height="150" class="rounded" alt="">
                            </div>
                            <div class="text-center mt-1"><a class="font-weight-bold" href="/Reports/CompanyMailingList">Company Mailing List</a></div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 mb-sm-3 mb-lg-0">
                            <div class="text-center icon-square">
                                <img src="/assets/img/mem-mail.png" width="150" height="150" class="rounded" alt="">
                            </div>
                            <div class="text-center mt-1"><a class="font-weight-bold" href="/Reports/AllContactsMailingList">Additional Contacts Mailing List</a></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="text-center">
                        <h3>Configuration</h3>
                    </div>
                    <hr />
                </div>
                <div class="card-body list-height">
                    <div class="row mb-lg-5">

                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 mb-sm-3 mb-lg-0">
                            <div class="text-center icon-square">
                                <img src="/assets/img/confstatus.png" width="150" height="150" class="rounded" alt="">
                            </div>
                            <div class="text-center mt-1"><a class="font-weight-bold" href="/Admin/MembershipStatus">Membership Status</a></div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 mb-sm-3 mb-lg-0">
                            <div class="text-center icon-square">
                                <img src="/assets/img/conftype.png" width="150" height="150" class="rounded" alt="">
                            </div>
                            <div class="text-center mt-1"><a class="font-weight-bold" href="/Admin/Membershipype">Membership Type</a></div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 mb-sm-3 mb-lg-0">
                            <div class="text-center icon-square">
                                <img src="/assets/img/confgrade.png" width="150" height="150" class="rounded" alt="">
                            </div>
                            <div class="text-center mt-1"><a class="font-weight-bold" href="/Admin/MembershipGrade">Membership Grade</a></div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 mb-sm-3 mb-lg-0">
                            <div class="text-center icon-square">
                                <img src="/assets/img/conflevel.png" width="150" height="150" class="rounded" alt="">
                            </div>
                            <div class="text-center mt-1"><a class="font-weight-bold" href="/Admin/MemberLevel">Membership Level</a></div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 mb-sm-3 mb-lg-0">
                            <div class="text-center icon-square">
                                <img src="/assets/img/confteam.png" width="150" height="150" class="rounded" alt="">
                            </div>
                            <div class="text-center mt-1"><a class="font-weight-bold" href="/Admin/MemberTeam">Membership Team</a></div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 mb-sm-3 mb-lg-0">
                            <div class="text-center icon-square">
                                <img src="/assets/img/confbranch.png" width="150" height="150" class="rounded" alt="">
                            </div>
                            <div class="text-center mt-1"><a class="font-weight-bold" href="/Admin/ClientBranch">Branches</a></div>
                        </div>

                    </div>
                    <div class="row mb-lg-5">

                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 mb-sm-3 mb-lg-0">
                            <div class="text-center icon-square">
                                <img src="/assets/img/confqual.png" width="150" height="150" class="rounded" alt="">
                            </div>
                            <div class="text-center mt-1"><a class="font-weight-bold" href="/Admin/Qualification">Qualification</a></div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 mb-sm-3 mb-lg-0">
                            <div class="text-center icon-square">
                                <img src="/assets/img/confaffi.png" width="150" height="150" class="rounded" alt="">
                            </div>
                            <div class="text-center mt-1"><a class="font-weight-bold" href="/Admin/Affliation">Affliation</a></div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 mb-sm-3 mb-lg-0">
                            <div class="text-center icon-square">
                                <img src="/assets/img/confmarkpro.png" width="150" height="150" class="rounded" alt="">
                            </div>
                            <div class="text-center mt-1"><a class="font-weight-bold" href="/Admin/MarketingProfile">Marketing Profile</a></div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 mb-sm-3 mb-lg-0">
                            <div class="text-center icon-square">
                                <img src="/assets/img/confmarkteam.png" width="150" height="150" class="rounded" alt="">
                            </div>
                            <div class="text-center mt-1"><a class="font-weight-bold" href="/Admin/MarketingGroup">Marketing Group</a></div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 mb-sm-3 mb-lg-0">
                            <div class="text-center icon-square">
                                <img src="/assets/img/confaddus.png" width="150" height="150" class="rounded" alt="">
                            </div>
                            <div class="text-center mt-1"><a class="font-weight-bold" href="/Admin/AddUser">Add User</a></div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 mb-sm-3 mb-lg-0">
                            <div class="text-center icon-square">
                                <img src="/assets/img/confmanage.png" width="150" height="150" class="rounded" alt="">
                            </div>
                            <div class="text-center mt-1"><a class="font-weight-bold" href="/Admin/UserList">Manage Users</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-sm-3"></div>
                        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
                            <div class="text-center icon-square">
                                <img src="/assets/img/admin-config.png" width="150" height="150" class="rounded" alt="">
                            </div>
                            <div class="text-center mt-1"><a class="font-weight-bold" href="/Admin/Finance">Pastel Integration</a></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>




<br />
<br />
<br />
<br />
<br />

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-piechart-outlabels"></script>

@section scripts {
    <script>

    </script>
}
