<div class="card-header">
    <div class="row">
        <div class="col-6 text-left pb-3">
            <h4 class="card-title"> @Model.name</h4>
        </div>
        <div class="col-6 text-right pb-3">
            <button class='nc-icon nc-simple-add mr-3 btn btn-outline-success btn-sm' data-toggle="modal" data-target="#AddEditModal" onclick="SetUpPopupToAddRecord()">&nbsp;Add New</button>
        </div>
    </div>
</div>