<style>
    .card:hover {
        transform: scale(1.01);
        box-shadow: 0 5px 10px rgba(0,0,0,.12), 0 2px 8px rgba(0,0,0,.06);
    }

    a:link {
        text-decoration: none;
        color: #51cbce;
    }

    a:hover {
        color: indianred;
    }

    .list-height {
        padding-top: 1px !important;
    }

    @@media only screen and (max-width: 600px) {
        .list-height {
            height: inherit;
        }
    }

    .icon-square {
        background-color: aliceblue;
        border-radius: 10px;
    }
</style>

<div class="content">
    @*<div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats bg-primary">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-center icon-warning">
                                    <i class="nc-icon nc-globe text-warning"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="card-category text-white">Active Members</p>
                                    <p class="card-title  text-white">15000<p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer  text-white ">
                        <hr>
                        <div class="stats text-white ">
                            <i class="fa fa-group  text-white "></i>
                            View All Active Member Details
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats bg-danger">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-center icon-warning">
                                    <i class="nc-icon nc-circle-10 text-primary"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="card-category  text-white">Individuals</p>
                                    <p class="card-title text-white">12000<p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats text-white">
                            <i class="fa fa-user-o text-white"></i>
                            <a href="/Reports/AllIndividualInformation" class=" text-white"> View All Individual Member Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats bg-warning">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-center icon-warning">
                                    <i class="nc-icon nc-bank text-dark"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="card-category  text-white">Non Individuals</p>
                                    <p class="card-title  text-white">3000<p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats  text-white">
                            <i class="fa fa-building-o  text-white"></i>
                            <a href="/Reports/AllNonIndividualInformation" class=" text-white"> View All Non Individual Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats bg-secondary">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-center icon-warning">
                                    <i class="nc-icon nc-simple-remove text-danger"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="card-category text-white">Resigned</p>
                                    <p class="card-title text-white">2500<p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats text-white"">
                            <i class="fa fa-remove text-danger"></i>
                            <a href="/Reports/ResignedMembers" class=" text-white"> View All Resigned Member Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

    <div class="row">

        <div class="col-lg-4 col-sm-6">
            <div class="card">

                <div class="card-header">
                    <div class="text-center">
                        <h3>Dashboard</h3>
                    </div>
                    <hr />
                </div>
                <a class="font-weight-bold" href="/Admin/Index">
                    <div class="card-body list-height">
                        <div class="mx-auto text-center icon-square">
                            <img src="/assets/img/admin-dash.png" style="width: 150px; height: 150px " class="card-img-top rounded" alt="">
                        </div>
                        <div class="text-center mt-1">
                            View Dashboard
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-8 col-sm-6">
            <div class="card">
                <div class="card-header">
                    <div class="text-center">
                        <h3>My Profile</h3>
                    </div>
                    <hr />
                </div>
                <div class="card-body list-height">
                    <div class="row">
                        <div class="col-6">
                            <a class="font-weight-bold" href="/Account/Index">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/admin-profile.png" width="150" height="150" class="rounded" alt="">
                                </div>
                                <div class="text-center mt-1">
                                    View Profile
                                </div>
                            </a>
                        </div>
                        <div class="col-6">
                            <a class="font-weight-bold" href="/Account/ChangePassword">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/admin-pass.png" width="150" height="150" class="rounded" alt="">
                                </div>
                                <div class="text-center mt-1">Change Password</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="text-center">
                        <h3>Members</h3>
                    </div>
                    <hr />
                </div>
                <div class="card-body list-height">
                    <div class="row mb-5">

                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-4">
                            <a class="font-weight-bold" href="/Manage/ListIndividual">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/memind.png" width="150" height="150" class="rounded" alt="">
                                </div>
                                <div class="text-center mt-1">Individuals</div>
                            </a>
                        </div>

                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-4">
                            <a class="font-weight-bold" href="/Manage/ListNonIndividual">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/memorg.png" width="150" height="150" class="rounded" alt="">
                                </div>
                                <div class="text-center mt-1">Non Individuals</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-4">
                            <a class="font-weight-bold" href="/Manage/ListContacts">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/memnon.png" width="150" height="150" class="rounded" alt="">
                                </div>
                                <div class="text-center mt-1">Non Members</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-4">
                            <a class="font-weight-bold" href="/new/Individual?ReqId=1">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/addind.png" width="150" height="150" class="rounded" alt="">
                                </div>
                                <div class="text-center mt-1">Add Individuals</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-4">
                            <a class="font-weight-bold" href="/new/Individual?ReqId=2">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/addprof.png" width="150" height="150" class="rounded" alt="">
                                </div>
                                <div class="text-center mt-1">Add Professional</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-4">
                            <a class="font-weight-bold" href="/new/NonIndividual">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/addnon.png" width="150" height="150" class="rounded" alt="">
                                </div>
                                <div class="text-center mt-1">Add Organization</div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="text-center">
                        <h3>Reports</h3>
                    </div>
                    <hr />
                </div>
                <div class="card-body list-height">
                    <div class="row mb-4">
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-4">
                            <a class="font-weight-bold" href="/Reports/ApplicationProgress">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/repapp.png" width="150" height="150" class="rounded" alt="">
                                </div>
                                <div class="text-center mt-1">Application Progress</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-4">
                            <a class="font-weight-bold" href="/Reports/AllIndividualInformation">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/repmem.png" width="150" height="150" class="rounded" alt="">
                                </div>
                                <div class="text-center mt-1">All Individual Information</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-4">
                            <a class="font-weight-bold" href="/Reports/AllNonIndividualInformation">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/admin-report.png" width="150" height="150" class="rounded" alt="">
                                </div>
                                <div class="text-center mt-1">All Non Individual Information</div>
                            </a>
                        </div>

                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-4">
                            <a class="font-weight-bold" href="/Reports/UserActivity">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/repact.png" width="150" height="150" class="rounded" alt="">
                                </div>
                                <div class="text-center mt-1">User Activity</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-4">
                            <a class="font-weight-bold" href="/Reports/JobPortalIndividual">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/repjob.png" width="150" height="150" class="rounded" alt="">
                                </div>
                                <div class="text-center mt-1">Job Portal Individual</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-4">
                            <a class="font-weight-bold" href="/Reports/ResignedMembers">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/repres.png" width="150" height="150" class="rounded" alt="">
                                </div>
                                <div class="text-center mt-1">Resigned Members</div>
                            </a>
                        </div>

                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-4">
                            <a class="font-weight-bold" href="/Reports/IndividualAddress">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/repindaddrs.png" width="150" height="150" class="rounded" alt="">
                                </div>
                                <div class="text-center mt-1">Individual Address</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-4">
                            <a class="font-weight-bold" href="/Reports/CompanyAddress">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/repcomadd.png" width="150" height="150" class="rounded" alt="">
                                </div>
                                <div class="text-center mt-1">Company Address</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-4">
                            <a class="font-weight-bold" href="/Reports/AdditionalContactsAddress">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/repaddiadd.png" width="150" height="150" class="rounded" alt="">
                                </div>
                                <div class="text-center mt-1">Additional Contacts Address</div>
                            </a>
                        </div>

                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-4">
                            <a class="font-weight-bold" href="/Reports/MembersMailingList">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/repindmail.png" width="150" height="150" class="rounded" alt="">
                                </div>
                                <div class="text-center mt-1">Individual Mailing List</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-4">
                            <a class="font-weight-bold" href="/Reports/CompanyMailingList">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/repcomailist.png" width="150" height="150" class="rounded" alt="">
                                </div>
                                <div class="text-center mt-1">Company Mailing List</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-4">
                            <a class="font-weight-bold" href="/Reports/AllContactsMailingList">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/mem-mail.png" width="150" height="150" class="rounded" alt="">
                                </div>
                                <div class="text-center mt-1">Additional Contacts Mailing List</div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="text-center">
                        <h3>Configuration</h3>
                    </div>
                    <hr />
                </div>
                <div class="card-body list-height">
                    <div class="row mb-2">

                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-4">
                            <a class="font-weight-bold" href="/Admin/MembershipStatus">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/confstatus.png" width="150" height="150" class="rounded" alt="">
                                </div>
                                <div class="text-center mt-1">Membership Status</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-4">
                            <a class="font-weight-bold" href="/Admin/Membershipype">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/conftype.png" width="150" height="150" class="rounded" alt="">
                                </div>
                                <div class="text-center mt-1">Membership Type</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-4">
                            <a class="font-weight-bold" href="/Admin/MembershipGrade">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/confgrade.png" width="150" height="150" class="rounded" alt="">
                                </div>
                                <div class="text-center mt-1">Membership Grade</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-4">
                            <a class="font-weight-bold" href="/Admin/MemberLevel">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/conflevel.png" width="150" height="150" class="rounded" alt="">
                                </div>
                                <div class="text-center mt-1">Membership Level</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-4">
                            <a class="font-weight-bold" href="/Admin/MemberTeam">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/confteam.png" width="150" height="150" class="rounded" alt="">
                                </div>
                                <div class="text-center mt-1">Membership Team</div>
                            </a>
                        </div>

                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-4">
                            <a class="font-weight-bold" href="/Admin/ClientBranch">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/confbranch.png" width="150" height="150" class="rounded" alt="">
                                </div>
                                <div class="text-center mt-1">Branches</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-4">
                            <a class="font-weight-bold" href="/Admin/Qualification">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/confqual.png" width="150" height="150" class="rounded" alt="">
                                </div>
                                <div class="text-center mt-1">Qualification</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-4">
                            <a class="font-weight-bold" href="/Admin/Affliation">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/confaffi.png" width="150" height="150" class="rounded" alt="">
                                </div>
                                <div class="text-center mt-1">Affliation</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-4">
                            <a class="font-weight-bold" href="/Admin/MarketingProfile">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/confmarkpro.png" width="150" height="150" class="rounded" alt="">
                                </div>
                                <div class="text-center mt-1">Marketing Profile</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-4">
                            <a class="font-weight-bold" href="/Admin/MarketingGroup">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/confmarkteam.png" width="150" height="150" class="rounded" alt="">
                                </div>
                                <div class="text-center mt-1">Marketing Group</div>
                            </a>
                        </div>



                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-4">
                            <a class="font-weight-bold" href="/Admin/AddUser">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/confaddus.png" width="150" height="150" class="rounded" alt="">
                                </div>
                                <div class="text-center mt-1">Add User</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-4">
                            <a class="font-weight-bold" href="/Admin/UserList">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/confmanage.png" width="150" height="150" class="rounded" alt="">
                                </div>
                                <div class="text-center mt-1">Manage Users</div>
                            </a>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mb-4">
                            <a class="font-weight-bold" href="/Admin/Finance">
                                <div class="text-center icon-square">
                                    <img src="/assets/img/admin-config.png" width="150" height="150" class="rounded" alt="">
                                </div>
                                <div class="text-center mt-1">
                                    Pastel Integration
                                </div>
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>