<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img//apple-icon.png">
    <link rel="icon" type="image/png" href="~/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <title>@ViewData["Title"] - WISA</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,100,400"
          rel="stylesheet"
          type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link href="~/assets/css/paper-dashboard.css?v=2.1.1" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/assets/demo/demo.css" rel="stylesheet" />

    <style>
        body {
            margin: 0;
            padding: 0;
            background: url(/images/bg_00.jpg) center center no-repeat fixed;
            background-size: cover;
            /*background-repeat: no-repeat;*/
            font-family: sans-serif;
        }

        .navbar .navbar-collapse .nav-item a {
            font-size: 12px;
        }

        .navbar-brand {
            font-size: 17px !important;
        }

        a:hover {
            color: #FFF !important;
        }

        .box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            /*width: 25rem;*/
            padding: 2.5rem;
            box-sizing: border-box;
            background: rgba(0, 0, 0, 0.6);
            border-radius: 0.625rem;
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }

            .box h2 {
                margin: 0 0 1.875rem;
                padding: 0;
                color: #fff;
                text-align: center;
            }

            .box .inputBox {
                position: relative;
            }

                .box .inputBox input {
                    width: 100%;
                    padding: 0.625rem 0;
                    font-size: 1rem;
                    color: #fff;
                    letter-spacing: 0.062rem;
                    margin-bottom: 1.875rem;
                    border: none;
                    border-bottom: 0.065rem solid #fff;
                    outline: none;
                    background: transparent;
                }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
            -webkit-transition-delay: 9999s;
        }

        .box .inputBox label {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0.625rem 0;
            font-size: 1rem;
            color: #fff;
            pointer-events: none;
            transition: 0.5s;
        }

        .box .inputBox input:focus ~ label,
        .box .inputBox input:valid ~ label,
        .box .inputBox input:not([value=""]) ~ label {
            top: -1.125rem;
            left: 0;
            color: #03a9f4;
            font-size: 0.75rem;
        }

        .box input[type="submit"] {
            border: none;
            outline: none;
            color: #fff;
            background-color: #03a9f4;
            padding: 0.625rem 1.25rem;
            cursor: pointer;
            border-radius: 0.312rem;
            font-size: 1rem;
        }

            .box input[type="submit"]:hover {
                background-color: #1cb1f5;
            }

        a.hover-white:hover {
            color: white !important;
            text-decoration: none;
        }

        input:checked + label {
            color: white !important;
        }

        .box .loginPage {
            width: 20rem;
        }

        .box .regPage {
            width: 50rem;
        }

        @@media only screen and (max-width: 768px) {
            .box .regPage {
                width: 20rem;
            }
        }

        .box .nonmemberregister {
            text-align: center;
        }
    </style>
</head>
<body class="">

    <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-light">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <a class="navbar-brand" href="~/Account/Admin/Login">&nbsp; &nbsp; <i class="nc-icon nc-badge"></i> &nbsp;WISA Admin</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="./login" class="nav-link">
                            <i class="nc-icon nc-tap-01"></i>
                            Login
                        </a>
                    </li>

                    <li class="nav-item">
                        <a asp-page="./ForgotPassword" class="nav-link">
                            <i class="nc-icon nc-key-25"></i>
                            Forgot your password?
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-page="./ResendEmailConfirmation" class="nav-link">
                            <i class="nc-icon nc-email-85"></i>
                            Resend Email Confirmation
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="box">
        @RenderBody()
    </div>

    <script src="~/assets/js/plugins/bootstrap-notify.js"></script>

    <script>

        function MMNotify(theMessage, theType) {

            $.notify({
                icon: "nc-icon nc-bell-55",
                message: theMessage,
                target: '_blank'
            }, {

                element: 'body',
                position: null,
                type: theType,
                allow_dismiss: true,
                newest_on_top: false,
                showProgressbar: false,
                placement: {
                    from: "bottom",
                    align: "center"
                },
                offset: {
                    x: 3,
                    y: 3
                },
                spacing: 10,
                z_index: 1031,
                delay: 1000,
                timer: 2000,
                url_target: '_blank',
                mouse_over: null,
                animate: {
                    enter: 'animated fadeInDown',
                    exit: 'animated fadeOutUp'
                },
                onShow: null,
                onShown: null,
                onClose: null,
                onClosed: null,
                icon_type: 'class',
                template: '<div data-notify="container-fluid" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                    '<span data-notify="icon"></span> ' +
                    '<span data-notify="title">{1}</span> ' +
                    '<span data-notify="message">{2}</span>' +
                    '<div class="progress" data-notify="progressbar">' +
                    '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                    '</div>' +
                    '<a href="{3}" target="{4}" data-notify="url"></a>' +
                    '</div>'
            });
        }


    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>