<div class="user">
    <div class="photo">
        <img src="../assets/img/faces/staff_man.png" />
    </div>
    <div class="info">
        <a data-toggle="collapse" href="#collapseExample" class="collapsed">
            <span>
                @UserManager.FindByNameAsync(UserManager.GetUserName(User)).Result.FullName
            </span>
        </a>
        <div class="clearfix"></div>
    </div>
</div>