@{
    var isSuperUser = AuthorizationService.AuthorizeAsync(User, MDMPolicies.AllowSuperUser).Result.Succeeded;
    var isAdmin = AuthorizationService.AuthorizeAsync(User, MDMPolicies.AllowAdmin).Result.Succeeded;
    var isTrustee = AuthorizationService.AuthorizeAsync(User, MDMPolicies.AllowTrustee).Result.Succeeded;
    var isOwner = AuthorizationService.AuthorizeAsync(User, MDMPolicies.AllowOwner).Result.Succeeded;
    var isTenant = AuthorizationService.AuthorizeAsync(User, MDMPolicies.AllowTenant).Result.Succeeded;
    var isEstateManager = AuthorizationService.AuthorizeAsync(User, MDMPolicies.AllowEstateManager).Result.Succeeded;
    var isManagingAgent = AuthorizationService.AuthorizeAsync(User, MDMPolicies.AllowManagingAgent).Result.Succeeded;
    var isSecurityVendor = AuthorizationService.AuthorizeAsync(User, MDMPolicies.AllowSecurityVendor).Result.Succeeded;
    var isGardenVendor = AuthorizationService.AuthorizeAsync(User, MDMPolicies.AllowGardenVendor).Result.Succeeded;
    var isServiceProvider = AuthorizationService.AuthorizeAsync(User, MDMPolicies.AllowServiceProvider).Result.Succeeded;
}
<div class="logo">
    <a href="/" class="simple-text logo-mini">
        <div class="logo-image-small">
            <img src="~/images/mdm-logo.png">
        </div>
    </a>
    <a href="/" class="simple-text logo-normal">
        Mile Downe
    </a>
</div>

@*<div class="user">
    <div class="photo">
        <img src="../assets/img/faces/mdm.png" />
    </div>
    <div class="info">
        <a data-toggle="collapse" href="#collapseExample" class="collapsed">
            <span>
                @UserManager.FindByNameAsync(UserManager.GetUserName(User)).Result.FullName
            </span>
        </a>
        <div class="clearfix"></div>
    </div>
</div>*@

<div class="user">
    <div class="photo">
       <img src="../assets/img/faces/shatlin.jpg" />
    </div>
    <div class="info">
        <a data-toggle="collapse" href="#collapseExample" class="collapsed">
            <span>
                @UserManager.FindByNameAsync(UserManager.GetUserName(User)).Result.FullName
                <b class="caret"></b>
            </span>
        </a>
        <div class="clearfix"></div>
        <div class="collapse" id="collapseExample">
            <ul class="nav">
                <li>
                    <a href="#">
                        <span class="sidebar-mini-icon">MP</span>
                        <span class="sidebar-normal">My Profile</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="sidebar-mini-icon">PW</span>
                        <span class="sidebar-normal">Change Password</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="sidebar-mini-icon">EM</span>
                        <span class="sidebar-normal">Change Email</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


<ul class="nav">

    @if (isSuperUser)
    {
        <partial name="_NavSuperUser" />
    }
    @if (isAdmin)
    {
        <partial name="_NavSuperUser" />
        //   <partial name="_NavAdmin" />
    }
    @if (isTrustee)
    {
        <partial name="_NavSuperUser" />
        //   <partial name="_NavTrustee" />
    }
    @if (isOwner)
    {
        <partial name="_NavSuperUser" />
        //  <partial name="_NavOwner" />
    }
    @if (isTenant)
    {
        <partial name="_NavSuperUser" />
        //   <partial name="_NavTenant" />
    }
    @if (isEstateManager)
    {
        <partial name="_NavSuperUser" />
        // <partial name="_NavEstateManager" />
    }
    @if (isManagingAgent)
    {
        <partial name="_NavSuperUser" />
        //   <partial name="_NavManagingAgent" />
    }
    @if (isGardenVendor)
    {
        <partial name="_NavSuperUser" />
        // <partial name="_NavGardenVendor)" />
    }
    @if (isServiceProvider)
    {
        <partial name="_NavSuperUser" />
        //  <partial name="_NavServiceProvider" />
    }
</ul>
