
    <ul class="nav">
        <li>
            <a href="/new/Individual?ReqId=1">
                <i class="nc-icon nc-single-02"></i>
                <p>Individual</p>
            </a>
        </li>

        <li>
            <a href="/new/Individual?ReqId=2">
                <i class="nc-icon nc-circle-10"></i>
                <p>Professional</p>
            </a>
        </li>

        <li>
            <a href="/New/NonIndividual">
                <i class="nc-icon nc-bank"></i>
                <p>Organization</p>
            </a>
        </li>

        <li>
            <a href="/New/NonMember">
                <i class="nc-icon nc-album-2"></i>
                <p>Non Member</p>
            </a>
        </li>

    </ul>