@{
    string pageName = ViewData["Page"] != null ? ViewData["Page"].ToString() : "";
    string active = "";
    string show = "";
    string[] items = { };
    var isReportViewerStaff = AuthorizationService.AuthorizeAsync(User, MDMPolicies.AllowAdmin).Result.Succeeded;
}


<ul class="nav">

    <!-- #region Member Management Items -->
    @{
        items = new string[] { "Individuals", "Non Individuals", "Non Members", "Add Individual", "Add Professional", "Add Organization" };
        active = Array.IndexOf(Array.ConvertAll(items, x => x.ToUpper()), pageName.ToUpper()) > -1 ? "active" : "";
        show = Array.IndexOf(Array.ConvertAll(items, x => x.ToUpper()), pageName.ToUpper()) > -1 ? "show" : "";
    }
    <li class="@active">
        <a data-toggle="collapse" href="#Members">
            <i class="nc-icon nc-badge"></i>
            <p>
                Members <b class="caret"></b>
            </p>
        </a>
        <div class="collapse @show" id="Members">
            <ul class="nav">
                <partial name="_NavChildMenu" , model='new MenuItem{url="/Manage/ListIndividual", abbreviation="LIN", linktext=items[0], page=items[0]}' />
                <partial name="_NavChildMenu" , model='new MenuItem{url="/Manage/ListNonIndividual", abbreviation="LNI", linktext=items[1], page=items[1]}' />
                <partial name="_NavChildMenu" , model='new MenuItem{url="/Manage/ListContacts", abbreviation="CON", linktext=items[2], page=items[2]}' />

            </ul>
        </div>
    </li>
    <!-- #endregion Member Management Items -->

    <!-- #region Member Reports Items -->
    @if (isReportViewerStaff)
    {

        items = new string[] { "Application Progress", "All Individual Information", "All Non Individual Information", "User Activity", "Job Portal Individual", "Resigned Members" };
        active = Array.IndexOf(Array.ConvertAll(items, x => x.ToUpper()), pageName.ToUpper()) > -1 ? "active" : "";
        show = Array.IndexOf(Array.ConvertAll(items, x => x.ToUpper()), pageName.ToUpper()) > -1 ? "show" : "";

        <li class="@active">
            <a data-toggle="collapse" href="#reports">
                <i class="nc-icon nc-badge"></i>
                <p>
                    Reports <b class="caret"></b>
                </p>
            </a>
            <div class="collapse @show" id="reports">
                <ul class="nav">
                    <partial name="_NavChildMenu" , model='new MenuItem{url="/Reports/ApplicationProgress", abbreviation="APR", linktext=items[0], page=items[0]}' />
                    <partial name="_NavChildMenu" , model='new MenuItem{url="/Reports/AllIndividualInformation", abbreviation="AII", linktext=items[1], page=items[1]}' />
                    <partial name="_NavChildMenu" , model='new MenuItem{url="/Reports/AllNonIndividualInformation", abbreviation="ANI", linktext=items[2], page=items[2]}' />
                    <partial name="_NavChildMenu" , model='new MenuItem{url="/Reports/UserActivity", abbreviation="UAC", linktext=items[3], page=items[3]}' />
                    <partial name="_NavChildMenu" , model='new MenuItem{url="/Reports/JobPortalIndividual", abbreviation="JOB", linktext=items[4], page=items[4]}' />
                    <partial name="_NavChildMenu" , model='new MenuItem{url="/Reports/ResignedMembers", abbreviation="RES", linktext=items[5], page=items[5]}' />
                </ul>
            </div>
        </li>
    }
    <!-- #endregion Report Management Items -->

    <partial name="_NavHeaderMenu" , model='new MenuItem{url="/Account/Index", icon="nc-icon nc-single-02", linktext="My Profile", page="My Profile"}' />
    <partial name="_NavHeaderMenu" , model='new MenuItem{url="/Account/ChangePassword", icon="nc-icon nc-lock-circle-open", linktext="Change Password", page="Change Password"}' />


</ul>