@page 
@model IndexModel


<partial name="_CardSimpleHeaderPartial" , model='new Header{name="Notifications"}'>
    <div class="row">
        <div class="col-lg-3">
            <div class="card card-pricing  bg-danger">
                <div class="card-header">
                    <h3 class="card-title text-light">Electricity out</h3>
                    <div class="card-icon icon-warning ">
                        <i class="nc-icon nc-alert-circle-i"></i>
                    </div>
                </div>
                <div class="card-body text-light">
                    <ul>
                        <li>Electricity will be out from 5 PM to 7 PM on Sunday 19-Apr.</li>
                        <li class="text-success">Please plan accordingly</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-pricing  bg-warning">
                <div class="card-header">
                    <h3 class="card-title text-light">Water outage</h3>
                    <div class="card-icon icon-danger ">
                        <i class="nc-icon nc-button-power"></i>
                    </div>
                </div>
                <div class="card-body text-light">
                    <ul>
                        <li>Water will be out from 8 AM to 7 PM on Saturday 12-Apr.</li>
                        <li>Please plan accordingly</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="col-lg-3">
            <div class="card card-pricing">
                <div class="card-header">
                    <h3 class="card-title text-in">SGM on 12-Mar</h3>
                    <div class="card-icon icon-info ">
                        <i class="nc-icon nc-badge"></i>
                    </div>
                </div>
                <div class="card-body">
                    <ul>
                        <li>SGM planned from 6 to 7:30 at club house &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                        <li class="text-danger">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card card-pricing bg-secondary">
                <div class="card-header">
                    <h3 class="card-title text-success">AGM on 12-Dec</h3>
                    <div class="card-icon icon-success ">
                        <i class="nc-icon nc-badge"></i>
                    </div>
                </div>
                <div class="card-body text-light">
                    <ul>
                        <li>AGM planned from 6 to 7:30 at club house on 12th Dec 2021 &nbsp;&nbsp;&nbsp;&nbsp;</li>
                        <li class="text-danger">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    </ul>
                </div>
            </div>
        </div>

    
    </div>







