@page "/notifications"
@model MDM.Pages.NotificationsModel


<div class="row">
    <div class="col-lg-3">
        <div class="card card-pricing ">
            <div class="card-header">
                <h6 class="card-category"> Alpha Pack</h6>
            </div>
            <div class="card-body">
                <div class="card-icon icon-primary ">
                    <i class="nc-icon nc-spaceship"></i>
                </div>
                <h3 class="card-title">69$</h3>
                <ul>
                    <li>Working materials in EPS</li>
                    <li>6 months access to the library</li>
                </ul>
            </div>
            <div class="card-footer">
                <a href="javascript:;" class="btn btn-round btn-primary">Add to Cart</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card card-pricing ">
            <div class="card-header">
                <h6 class="card-category"> Alpha Pack</h6>
            </div>
            <div class="card-body">
                <div class="card-icon icon-primary ">
                    <i class="nc-icon nc-spaceship"></i>
                </div>
                <h3 class="card-title">69$</h3>
                <ul>
                    <li>Working materials in EPS</li>
                    <li>6 months access to the library</li>
                </ul>
            </div>
            <div class="card-footer">
                <a href="javascript:;" class="btn btn-round btn-primary">Add to Cart</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card card-pricing ">
            <div class="card-header">
                <h6 class="card-category"> Alpha Pack</h6>
            </div>
            <div class="card-body">
                <div class="card-icon icon-primary ">
                    <i class="nc-icon nc-spaceship"></i>
                </div>
                <h3 class="card-title">69$</h3>
                <ul>
                    <li>Working materials in EPS</li>
                    <li>6 months access to the library</li>
                </ul>
            </div>
            <div class="card-footer">
                <a href="javascript:;" class="btn btn-round btn-primary">Add to Cart</a>
            </div>
        </div>
    </div>
</div>
   






