@page

@model MM.Pages.TestedrModel
@{
    ViewData["Title"] = "Home";
    ViewData["Page"] = "Home";
    Layout = "_LayoutApply";
}
    <style>
                .content {
                    padding-top: 5px;
                }

                .btn-pay {
                    width: 355px;
                }
        @@media only screen and (max-width: 600px) {
            .btn-pay {
                width: 300px;
            }
        }
    </style>
    <div class="content">
        <form id="frm" method="post">
            <div class="row">
                <div class="col-md-4 required text-right">
                    <label asp-for=Email class="control-label">Email</label>
                </div>
                <div class="col-md-12 form-group ">
                    <input type="text" class="form-control" asp-for=Email />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4 required text-right">
                    <label asp-for=Password class="control-label">Password</label>
                </div>
                <div class="col-md-12 form-group ">
                    <input type="text" class="form-control" asp-for=Password />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

            </div>
            <div class="row">
              
                <div class="col-md-12 form-group text-right">
                    <input class="btn btn-success" type="submit" id="submit"value="submit"/>
                  
                </div>

            </div>
        </form>
    </div>





