@page
@model WISA.Web.Pages.Manage.ListNonIndividualModel

@{
    ViewData["Title"] = "Non Individuals";
    ViewData["Page"] = "Non Individuals";
}


    <style>

        .table > thead > tr > th,
        .table > tbody > tr > th,
        .table > tfoot > tr > th,
        .table > thead > tr > td,
        .table > tbody > tr > td,
        .table > tfoot > tr > td {
            vertical-align: top;
        }

        .somestuff::-webkit-input-placeholder {
            text-align: right;
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .spinner:before {
            content: '';
            box-sizing: border-box;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 120px;
            height: 120px;
            margin-top: -10px;
            margin-left: -10px;
            border-radius: 50%;
            border: 2px solid #ccc;
            border-top-color: #333;
            animation: spin .6s linear infinite;
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #3498db; /* Blue */
        }
    </style>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Non-Individual Members</h4>
            </div>
            
                <div class="card-body table-responsive">
                    <table id="list" class="table table-bordered" cellspacing="0" cellpadding="0" width="100%">
                        <tfoot>
                            <tr style="background-color:white;color:black;">
                                <th style="min-width:125px;">Member Number</th>
                                <th style="min-width:250px;">Organization Name</th>
                                <th style="min-width:125px;">Phone Number</th>
                                <th style="min-width:150px;">Organization Grade</th>
                                <th style="min-width:150px;">Membership Type</th>
                                <th style="min-width:125px;">Status</th>
                                <th style="min-width:125px;">Account Balance</th>
                                <th style="min-width:50px;"></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            
        </div>
    </div>

</div>
<p>
    <a asp-page="Create">Create New</a>
</p>

@section scripts {
    <script>

        var dataTable;
        $(document).ready(function () {

            $('#list').show();


            dataTable = $('#list').DataTable({
                language: {

                    sLoadingRecords: '<div><img src="https://media.giphy.com/media/MDrmyLuEV8XFOe7lU6/giphy.gif"></div>'
                },
                "pagingType": "full_numbers",
                "dom": "<'row'<'col-md-6'l><'col-md-6 text-right'Bf>>" +
                    "<'row'<'col-md-12't>><'row'<'col-md-4'i><'col-md-6 small'p><'col-md-2'>>",
                autoWidth: false,
                buttons: [
                    { extend: 'copy', className: 'btn btn-sm btn-outline-primary' },
                    { extend: 'csv', className: 'btn btn-sm btn-outline-primary' },
                    { extend: 'excel', className: 'btn btn-sm btn-outline-primary' },
                    { extend: 'pdf', orientation: 'landscape', pageSize: 'LEGAL', className: 'btn btn-sm btn-outline-primary' },
                    { extend: 'print', className: 'btn btn-sm  btn-outline-primary' }

                ],
                pageLength: 10,
                ajax: {
                    url: '?handler=List',
                    dataSrc: ''
                },
                initComplete: function () {
                    this.api().columns().every(function (i) {

                        if (i == 3 || i == 4 || i == 5) {
                            var column = this;
                            var select = $('<select class="somestuff form-control form-input" style="padding-left:5px;"><option value="">Please select</option></select>')
                                .appendTo($(column.footer()).empty())
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );

                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });

                            column.data().unique().sort().each(function (d, j) {
                                select.append('<option value="' + d + '">' + d + '</option>')
                            });
                        }
                    });
                },

                    
                "columns": [
                    { title: "Member Number", data: "orgmembercode", "autoWidth": true, },
                    { title: "Name", data: "name", "autoWidth": true, },
                    { title: "Phone Number", data: "phonenumber", "autoWidth": true, },
                    { title: "Organization Grade", data: "organizationGrade", "autoWidth": true, },
                    { title: "Membership Type", data: "membershiptype", "autoWidth": true, },
                    { title: "Member Status", data: "memberstatus", "autoWidth": true, },
                    { title: "Balance", data: "accountbalance", "autoWidth": true, },
                    {
                        title: "Action",
                        data: "id",
                        "render": function (data, type, row, meta) {
                            {
                                
                                return '<span style="display: flex; flex-flow: row nowrap; justify-content: center;"><a style="font-size:14px;justify-content: center;" href="/Manage/NonIndividual?Id=' + row.id + '"><i class=" fa fa-edit"></i></a></span>';
                            }


                        },
                        orderable: false,
                        searchable: false,
                        width: "50px"
                    }

                ]
            });

            $(".dataTables_filter").hide();


            //// Setup - add a text input to each footer cell
            //$('#list tfoot th').each(function () {
            //    var title = $('#list thead th').eq($(this).index()).text();

            //    if (title != "Action") {
            //        var field = '<input type="text"  class="somestuff form-control form-input" style="padding-left:5px;;font-family: FontAwesome;Montserrat,Helvetica Neue, Arial, sans-serif" placeholder=" &#xf002" name="' + title.replace(' ', '') + '" id="' + title.replace(' ', '') + '" />';
            //        $(this).html(field);
            //    }

            //});

            // Setup - add a text input to each footer cell
            $('#list tfoot th').each(function () {
                var title = $('#list thead th').eq($(this).index()).text();
                if (title != "Action") {
                    var field = '<input type="text"  class="dtplaceholder datatableSearch form-control form-input" placeholder=" &#xf002" name="' + title.replace(' ', '') + '" id="' + title.replace(' ', '') + '" />';
                    $(this).html(field);
                }
                else {
                    var field = '<input type="text"  class="dtplaceholder datatableSearch form-control form-input" placeholder="" name="' + title.replace(' ', '') + '" id="' + title.replace(' ', '') + '" />';
                    $(this).html(field);
                }



            });

            $('#list tfoot tr').appendTo('#list thead');

            $('#MemberNumber').on('keyup', function () {

                $('#list')
                    .DataTable().columns(0)
                    .search($('#MemberNumber').val(), false, true)
                    .draw();
            });

            $('#Name').on('keyup', function () {
                $('#list')
                    .DataTable().columns(1)
                    .search($('#Name').val(), false, true)
                    .draw();
            });

            $('#PhoneNumber').on('keyup', function () {

                $('#list')
                    .DataTable().columns(2)
                    .search($('#PhoneNumber').val(), false, true)
                    .draw();
            });

            $('#OrganizationGrade').on('keyup', function () {

                $('#list')
                    .DataTable().columns(3)
                    .search($('#OrganizationGrade').val(), false, true)
                    .draw();
            });

            $('#MembershipType').on('keyup', function () {

                $('#list')
                    .DataTable().columns(4)
                    .search($('#MembershipType').val(), false, true)
                    .draw();
            });

            $('#MemberStatus').on('keyup', function () {

                $('#list')
                    .DataTable().columns(5)
                    .search($('#MemberStatus').val(), false, true)
                    .draw();
            });
            $('#AccountBalance').on('keyup', function () {

                $('#list')
                    .DataTable().columns(6)
                    .search($('#AccountBalance').val(), false, true)
                    .draw();
            });

        });
    </script>

}

