@page
@model MDM.Pages.Client.StartModel
@using MDM.Models;
@using MDM.Helper;

@{

    ViewData["Title"] = "Data Migration";
    ViewData["Page"] = "Data Migration";

  
}
<form method="post" id="SetUp" style="width:100%">
    <partial name="_CRUDHeader" , model='new Header{name="Manage Migration", description="Set up Initial Data Migration"}'>
        <div class="container">
            <div class="reg-container row">
                <!--  Personal -->
                <div class="col-12">
                    <div class="card shadow-sm">
                        <partial name="_CardHeaderPartial" , model='new Header{name="Migration"}'>
                            <div class="card-body reg-card-body">
                                <div class="row">

                                    <div class="col-4 mb-4 text-left">
                                        <button class="btn btn-outline-danger" style="width:250px;" asp-page-handler="Run">Intital Set up</button>
                                    </div>
                                    <div class="col-4  mb-4 text-left">
                                        <button id="nonindbutton" name="nonindbutton" style="width:250px;" class="btn btn-outline-danger" asp-page-handler="NonIndividuals">NonIndividuals</button>
                                    </div>
                                    <div class="col-4 mb-4 text-left">
                                        <button id="indbutton" name="indbutton" style="width:250px;" class="btn btn-outline-danger" asp-page-handler="Individuals">Individuals</button>
                                    </div>

                                    <div class="col-4 mb-4 text-left">
                                        <button class="btn btn-outline-danger" style="width:250px;" asp-page-handler="NotesAndFiles">Notes and Files</button>
                                    </div>
                                    <div class="col-4 mb-4 text-left">
                                        <button class="btn btn-outline-danger" style="width:250px;" asp-page-handler="LogResults">Log Results</button>
                                    </div>

                                    <div class="col-4 mb-4  text-left">
                                        <button class="btn btn-outline-danger" style="width:250px;" asp-page-handler="Fix">Fix</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

</form>

@section scripts
{
    <script>

               //      $(document).ready(function () {
               //          setTimeout(function() {
               //         $("#indbutton").trigger('click');
               //     }, 2000);
               //});

    </script>
}
