@page
@model WISA.Web.Pages.Manage.EditMemberModel

@{
    ViewData["Title"] = "Edit";
}

@*<h1>Edit</h1>

<h4>MemberUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="col-md-4">
                <div class="card ">
                    <div class="card-header ">
                        a
                        <h4 class="card-title"><i class="nc-icon nc-single-02">&nbsp;</i>Personal Information</h4>
                    </div>
                    <div class="card-body ">


                        <div class="form-group">
                            <label asp-for="MemberUser.TransactionCurrencyid" class="control-label"></label>
                            <select asp-for="MemberUser.TransactionCurrencyid" class="form-control" asp-items="ViewBag.TransactionCurrencyid"></select>
                            <span asp-validation-for="MemberUser.TransactionCurrencyid" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                            <label asp-for="MemberUser.MemberBranchId" class="control-label"></label>
                            <select asp-for="MemberUser.MemberBranchId" class="form-control" asp-items="ViewBag.MemberBranchId"></select>
                            <span asp-validation-for="MemberUser.MemberBranchId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MemberUser.MemberLevelId" class="control-label"></label>
                            <select asp-for="MemberUser.MemberLevelId" class="form-control" asp-items="ViewBag.MemberLevelId"></select>
                            <span asp-validation-for="MemberUser.MemberLevelId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="MemberUser.MemberTeamId" class="control-label"></label>
                            <select asp-for="MemberUser.MemberTeamId" class="form-control" asp-items="ViewBag.MemberTeamId"></select>
                            <span asp-validation-for="MemberUser.MemberTeamId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MemberUser.OrganizationId" class="control-label"></label>
                            <select asp-for="MemberUser.OrganizationId" class="form-control" asp-items="ViewBag.OrganizationId"></select>
                            <span asp-validation-for="MemberUser.OrganizationId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MemberUser.OrganizationStructureId" class="control-label"></label>
                            <select asp-for="MemberUser.OrganizationStructureId" class="form-control" asp-items="ViewBag.OrganizationStructureId"></select>
                            <span asp-validation-for="MemberUser.OrganizationStructureId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MemberUser.ApplicaitonUserId" class="control-label"></label>
                            <select asp-for="MemberUser.ApplicaitonUserId" class="form-control" asp-items="ViewBag.ApplicaitonUserId"></select>
                            <span asp-validation-for="MemberUser.ApplicaitonUserId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MemberUser.OwnerClientUserId" class="control-label"></label>
                            <select asp-for="MemberUser.OwnerClientUserId" class="form-control" asp-items="ViewBag.OwnerClientUserId"></select>
                            <span asp-validation-for="MemberUser.OwnerClientUserId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MemberUser.ClientBranchId" class="control-label"></label>
                            <select asp-for="MemberUser.ClientBranchId" class="form-control" asp-items="ViewBag.ClientBranchId"></select>
                            <span asp-validation-for="MemberUser.ClientBranchId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MemberUser.PreferredAppointmentTimeId" class="control-label"></label>
                            <select asp-for="MemberUser.PreferredAppointmentTimeId" class="form-control" asp-items="ViewBag.PreferredAppointmentTimeId"></select>
                            <span asp-validation-for="MemberUser.PreferredAppointmentTimeId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MemberUser.HighestQualitificationId" class="control-label"></label>
                            <select asp-for="MemberUser.HighestQualitificationId" class="form-control" asp-items="ViewBag.HighestQualitificationId"></select>
                            <span asp-validation-for="MemberUser.HighestQualitificationId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MemberUser.HomeLanguageId" class="control-label"></label>
                            <select asp-for="MemberUser.HomeLanguageId" class="form-control" asp-items="ViewBag.HomeLanguageId"></select>
                            <span asp-validation-for="MemberUser.HomeLanguageId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.VolunteerWorkHoursId" class="control-label"></label>
                        <select asp-for="MemberUser.VolunteerWorkHoursId" class="form-control" asp-items="ViewBag.VolunteerWorkHoursId"></select>
                        <span asp-validation-for="MemberUser.VolunteerWorkHoursId" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="MemberUser.CreatedBy" class="control-label"></label>
                        <input asp-for="MemberUser.CreatedBy" class="form-control" />
                        <span asp-validation-for="MemberUser.CreatedBy" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.ModifiedBy" class="control-label"></label>
                        <input asp-for="MemberUser.ModifiedBy" class="form-control" />
                        <span asp-validation-for="MemberUser.ModifiedBy" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.ParentMemberid" class="control-label"></label>
                        <input asp-for="MemberUser.ParentMemberid" class="form-control" />
                        <span asp-validation-for="MemberUser.ParentMemberid" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.TotalCDPPoints" class="control-label"></label>
                        <input asp-for="MemberUser.TotalCDPPoints" class="form-control" />
                        <span asp-validation-for="MemberUser.TotalCDPPoints" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.AccountBalanceOftheCompany" class="control-label"></label>
                        <input asp-for="MemberUser.AccountBalanceOftheCompany" class="form-control" />
                        <span asp-validation-for="MemberUser.AccountBalanceOftheCompany" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.ExchangeRate" class="control-label"></label>
                        <input asp-for="MemberUser.ExchangeRate" class="form-control" />
                        <span asp-validation-for="MemberUser.ExchangeRate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.Accountbalanceofthecompany_base" class="control-label"></label>
                        <input asp-for="MemberUser.Accountbalanceofthecompany_base" class="form-control" />
                        <span asp-validation-for="MemberUser.Accountbalanceofthecompany_base" class="text-danger"></span>
                    </div>









                    <div class="form-group">
                        <label asp-for="MemberUser.Notes" class="control-label"></label>
                        <input asp-for="MemberUser.Notes" class="form-control" />
                        <span asp-validation-for="MemberUser.Notes" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="MemberUser.ParentMemberName" class="control-label"></label>
                        <input asp-for="MemberUser.ParentMemberName" class="form-control" />
                        <span asp-validation-for="MemberUser.ParentMemberName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.SpecialMember" class="control-label"></label>
                        <input asp-for="MemberUser.SpecialMember" class="form-control" />
                        <span asp-validation-for="MemberUser.SpecialMember" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.AdminFee" class="control-label"></label>
                        <input asp-for="MemberUser.AdminFee" class="form-control" />
                        <span asp-validation-for="MemberUser.AdminFee" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.IDAttached" class="control-label"></label>
                        <input asp-for="MemberUser.IDAttached" class="form-control" />
                        <span asp-validation-for="MemberUser.IDAttached" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="MemberUser.QualificationAttached" class="control-label"></label>
                        <input asp-for="MemberUser.QualificationAttached" class="form-control" />
                        <span asp-validation-for="MemberUser.QualificationAttached" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="MemberUser.ApplicationFormComplete" class="control-label"></label>
                        <input asp-for="MemberUser.ApplicationFormComplete" class="form-control" />
                        <span asp-validation-for="MemberUser.ApplicationFormComplete" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.AdminfeeProofofpaymentSent" class="control-label"></label>
                        <input asp-for="MemberUser.AdminfeeProofofpaymentSent" class="form-control" />
                        <span asp-validation-for="MemberUser.AdminfeeProofofpaymentSent" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.RefereeReport" class="control-label"></label>
                        <input asp-for="MemberUser.RefereeReport" class="form-control" />
                        <span asp-validation-for="MemberUser.RefereeReport" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.TaxInvoiceSent" class="control-label"></label>
                        <input asp-for="MemberUser.TaxInvoiceSent" class="form-control" />
                        <span asp-validation-for="MemberUser.TaxInvoiceSent" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.ProofOfpaymentApplicable" class="control-label"></label>
                        <input asp-for="MemberUser.ProofOfpaymentApplicable" class="form-control" />
                        <span asp-validation-for="MemberUser.ProofOfpaymentApplicable" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.DwscertificAteattached" class="control-label"></label>
                        <input asp-for="MemberUser.DwscertificAteattached" class="form-control" />
                        <span asp-validation-for="MemberUser.DwscertificAteattached" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.FirstReminderSent" class="control-label"></label>
                        <input asp-for="MemberUser.FirstReminderSent" class="form-control" />
                        <span asp-validation-for="MemberUser.FirstReminderSent" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.SecondReminderSent" class="control-label"></label>
                        <input asp-for="MemberUser.SecondReminderSent" class="form-control" />
                        <span asp-validation-for="MemberUser.SecondReminderSent" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.ThirdReminderSent" class="control-label"></label>
                        <input asp-for="MemberUser.ThirdReminderSent" class="form-control" />
                        <span asp-validation-for="MemberUser.ThirdReminderSent" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.New_Check" class="control-label"></label>
                        <input asp-for="MemberUser.New_Check" class="form-control" />
                        <span asp-validation-for="MemberUser.New_Check" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.IsPrivate" class="control-label"></label>
                        <input asp-for="MemberUser.IsPrivate" class="form-control" />
                        <span asp-validation-for="MemberUser.IsPrivate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="MemberUser.InvoiceSent" class="control-label"></label>
                        <input asp-for="MemberUser.InvoiceSent" class="form-control" />
                        <span asp-validation-for="MemberUser.InvoiceSent" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="MemberUser.TotalCdppoints_State" class="control-label"></label>
                        <input asp-for="MemberUser.TotalCdppoints_State" class="form-control" />
                        <span asp-validation-for="MemberUser.TotalCdppoints_State" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="MemberUser.FollowEmail" class="control-label"></label>
                        <input asp-for="MemberUser.FollowEmail" class="form-control" />
                        <span asp-validation-for="MemberUser.FollowEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.IsBillingContact" class="control-label"></label>
                        <input asp-for="MemberUser.IsBillingContact" class="form-control" />
                        <span asp-validation-for="MemberUser.IsBillingContact" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="MemberUser.IsActive" class="control-label"></label>
                        <input asp-for="MemberUser.IsActive" class="form-control" />
                        <span asp-validation-for="MemberUser.IsActive" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.TotalCdpPointsCalculatedDate" class="control-label"></label>
                        <input asp-for="MemberUser.TotalCdpPointsCalculatedDate" class="form-control" />
                        <span asp-validation-for="MemberUser.TotalCdpPointsCalculatedDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.AdminFeeProofofpaymentReceivedDate" class="control-label"></label>
                        <input asp-for="MemberUser.AdminFeeProofofpaymentReceivedDate" class="form-control" />
                        <span asp-validation-for="MemberUser.AdminFeeProofofpaymentReceivedDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="MemberUser.GradingCompletedDate" class="control-label"></label>
                        <input asp-for="MemberUser.GradingCompletedDate" class="form-control" />
                        <span asp-validation-for="MemberUser.GradingCompletedDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.ProformaInvoiceEmailedDate" class="control-label"></label>
                        <input asp-for="MemberUser.ProformaInvoiceEmailedDate" class="form-control" />
                        <span asp-validation-for="MemberUser.ProformaInvoiceEmailedDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.ProofofPaymentReceivedDate" class="control-label"></label>
                        <input asp-for="MemberUser.ProofofPaymentReceivedDate" class="form-control" />
                        <span asp-validation-for="MemberUser.ProofofPaymentReceivedDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.TaxInvoicEemailedDate" class="control-label"></label>
                        <input asp-for="MemberUser.TaxInvoicEemailedDate" class="form-control" />
                        <span asp-validation-for="MemberUser.TaxInvoicEemailedDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="MemberUser.SentforGradingDate" class="control-label"></label>
                        <input asp-for="MemberUser.SentforGradingDate" class="form-control" />
                        <span asp-validation-for="MemberUser.SentforGradingDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.ProformaInvoiceSentDate" class="control-label"></label>
                        <input asp-for="MemberUser.ProformaInvoiceSentDate" class="form-control" />
                        <span asp-validation-for="MemberUser.ProformaInvoiceSentDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.PaymentReminder1Date" class="control-label"></label>
                        <input asp-for="MemberUser.PaymentReminder1Date" class="form-control" />
                        <span asp-validation-for="MemberUser.PaymentReminder1Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.PaymentReminder2Date" class="control-label"></label>
                        <input asp-for="MemberUser.PaymentReminder2Date" class="form-control" />
                        <span asp-validation-for="MemberUser.PaymentReminder2Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.PaymentReminder3Date" class="control-label"></label>
                        <input asp-for="MemberUser.PaymentReminder3Date" class="form-control" />
                        <span asp-validation-for="MemberUser.PaymentReminder3Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.CancelapplicationNopayDate" class="control-label"></label>
                        <input asp-for="MemberUser.CancelapplicationNopayDate" class="form-control" />
                        <span asp-validation-for="MemberUser.CancelapplicationNopayDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.ApplicationreceivedDate" class="control-label"></label>
                        <input asp-for="MemberUser.ApplicationreceivedDate" class="form-control" />
                        <span asp-validation-for="MemberUser.ApplicationreceivedDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="MemberUser.AdminfeePaymentReceivedDate" class="control-label"></label>
                        <input asp-for="MemberUser.AdminfeePaymentReceivedDate" class="form-control" />
                        <span asp-validation-for="MemberUser.AdminfeePaymentReceivedDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.ApplicationCancelledMemberfeeNotpaidDate" class="control-label"></label>
                        <input asp-for="MemberUser.ApplicationCancelledMemberfeeNotpaidDate" class="form-control" />
                        <span asp-validation-for="MemberUser.ApplicationCancelledMemberfeeNotpaidDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.CreatedOn" class="control-label"></label>
                        <input asp-for="MemberUser.CreatedOn" class="form-control" />
                        <span asp-validation-for="MemberUser.CreatedOn" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.ModifiedOn" class="control-label"></label>
                        <input asp-for="MemberUser.ModifiedOn" class="form-control" />
                        <span asp-validation-for="MemberUser.ModifiedOn" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MemberUser.Photo" class="control-label"></label>
                        <input asp-for="MemberUser.Photo" class="form-control" />
                        <span asp-validation-for="MemberUser.Photo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>

                </div>
                <div class="card-footer ">
                    <button type="submit" class="btn btn-info btn-round">Submit</button>
                </div>
            </div>
            <div class="card ">
                <div class="card-header ">
                    <h4 class="card-title">Stacked Form</h4>
                </div>
                <div class="card-body ">
                    <label>Email address</label>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Enter email" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;" autocomplete="off">
                    </div>
                    <label>Password</label>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;" autocomplete="off">
                    </div>
                    <div class="form-check mt-3">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                Subscribe to newsletter
                                <span class="form-check-sign"></span>
                            </label>
                        </div>
                    </div>

                </div>
                <div class="card-footer ">
                    <button type="submit" class="btn btn-info btn-round">Submit</button>
                </div>
            </div>
    </div>
    </form>
</div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>*@

@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
