@page
@model WISA.Web.Pages.Member.IndexModel

@{
    ViewData["Title"] = "Home";
    ViewData["Page"] = "Home";
}


<style>

    /*    .main-panel > .content {
        padding: 0 10px 10px;
        min-height: calc(100vh - px);
        margin-top: 20px;
    }*/

    /*    tfoot {
        display: table-header-group;
    }*/
</style>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Members</h4>
            </div>
            <div class="card-body">
                <table id="list" class="table table-sm" style="width:100%">
                    <tfoot>
                        <tr>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Company Name</th>
                            <th>Business Phone</th>
                            <th>Memberhsip Grade</th>
                            <th>Mobile Phone</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>
<p>
    <a asp-page="Create">Create New</a>
</p>

@section scripts {
    <script>

        var dataTable;
        $(document).ready(function () {

            $('#list').show();


            dataTable = $('#list').DataTable({

                pageLength: 10,
                ajax: {
                    url: '?handler=List',
                    dataSrc: ''
                },
                initComplete: function () {

                    //// Apply the search
                    //dataTable.columns().every(function () {
                    //    var column = this;
                    //    $('input', this.footer()).on('keyup change', function ()
                    //    {
                    //        console.log(this.value);
                    //        console.log("search result=" + column.search());
                    //        if (column.search() !== this.value)
                    //        {
                    //            column.search(this.value).draw();
                    //        }
                    //    });

                    //});
                },
                "columns": [
                    { title: "FullName", data: "fullname", "autoWidth": true, },
                    { title: "Email", data: "email", "autoWidth": true, },
                    { title: "Company Name", data: "companyname", "autoWidth": true, },
                    { title: "Business Phone", data: "businessphone", "autoWidth": true, },
                    { title: "Memberhsip Grade", data: "MembershipType", "autoWidth": true, },
                    { title: "Mobile Phone", data: "mobilephone", "autoWidth": true, },
                    {
                        title: "Action",
                        data: "id",
                        "render": function (data, type, row, meta) {
                            {
                                return '<a class="btn btn-outline-info btn-sm mr-3" href="/Member/Members?Id=' + row.id + '">&nbsp;Edit</a>&nbsp;';
                            }
                        },
                        orderable: false,
                        width: "150px"
                    }

                ]
            });

            $(".dataTables_filter").hide();


            // Setup - add a text input to each footer cell
            $('#list tfoot th').each(function () {
                var title = $('#list thead th').eq($(this).index()).text();



                if (title != "Action") {
                    var field = '<input type="text" style="border-top:0;border-left:0;border-right:0;border-bottom:0;width:100%;padding:0;" placeholder="search ' + title + '" name="' + title + '" id="' + title + '" />';
                    $(this).html(field);
                }

            });
            $('#list tfoot tr').appendTo('#list thead');



            $('#FullName').on('keyup', function () {
                $('#list')
                    .DataTable().columns(0)
                    .search($('#FullName').val(), false, true)
                    .draw();
            });

            $('#Email').on('keyup', function () {

                $('#list')
                    .DataTable().columns(1)
                    .search($('#Email').val(), false, true)
                    .draw();
            });



        });
    </script>

}