@page
@model WISA.Pages.New.NonIndividualModel
@{
    ViewData["Title"] = "Non Individual Application";
    ViewData["Page"] = "Add Organization";
    bool isAuthorizedForDelete = AuthorizationService.AuthorizeAsync(User, MMPolicies.AllowSetupDelete).Result.Succeeded;
    bool isAuthorizedForUpdate = AuthorizationService.AuthorizeAsync(User, MMPolicies.AllowSetupUpdate).Result.Succeeded;

    var isSuperUser = AuthorizationService.AuthorizeAsync(User, MMPolicies.AllowSuperUser).Result.Succeeded;
    var isAdminUser = AuthorizationService.AuthorizeAsync(User, MMPolicies.AllowAdminUser).Result.Succeeded;
    var isUser = AuthorizationService.AuthorizeAsync(User, MMPolicies.AllowUserAccess).Result.Succeeded;


    if (isUser || isAdminUser || isSuperUser)
    {
        Layout = "_LayoutMain";
    }
    else
    {
        Layout = "_LayoutApply";
    }
    bool isDev = false;
    <environment names="Development">
        @{
            isDev = true;
        }
    </environment>
}

<style>
    body {
        background-color: #f0f5f5;
    }

    .main-panel > .content {
        margin-top: 75px;
    }

    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        padding: 3px 3px;
    }

    .main-panel {
        padding-top: 15px;
    }

    .error {
        color: red;
        display: none;
    }

    .regMemberForm .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    }

    .regMemberForm .delbtn {
        cursor: pointer;
    }

    input.input-validation-error {
        background-color: #FFC0A4;
        border: 1px solid #ef8157;
        color: blue !important;
    }

    .text-danger {
        font-size: smaller;
    }

    .required ::after {
        content: " *" !important;
        color: red !important;
    }

    .input-group, .form-group {
        margin-bottom: 2px;
    }

        .form-group .form-control, .input-group .form-control {
            padding: 5px 5px 5px 5px;
        }

    .nav-top-style {
        padding-top: 0px !important;
    }

    #addContactsModal .modal-width {
        max-width: 1500px;
        padding-top: 30px;
        /*margin-left: 20%;*/
    }

    textarea.form-control {
        max-height: 100%;
    }

    .card label {
        margin-top: 5px;
    }

    input::-webkit-input-placeholder {
        font-size: 10px;
        line-height: 3;
    }

    ::-moz-placeholder {
        font-size: 11px;
        line-height: 3;
    }

    :-ms-input-placeholder {
        font-size: 11px;
        line-height: 3;
    }
</style>


<form id="RegisterForm" method="post" name="RegisterForm" enctype="multipart/form-data">
<div class="row regMemberForm" id="regMemberForm">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header text-center">
                <h5 class="card-title">
                    Non Individual Membership Application Form
                </h5>

                @if (!isUser)
                {
                    <p class="text-primary">
                        If you experience any problems or have any questions during the completion of this form, please contact WISA on 011 805 3537.
                    </p>

                }
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>

            <div class="card-body nav-top-style">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul id="tabs" class="nav nav-pills mb-3" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#one" role="tab" aria-controls="one" aria-selected="true">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#two" role="tab" aria-controls="two" aria-selected="false">Business</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#three" role="tab" aria-controls="three" aria-selected="false">Address</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#five" role="tab" aria-controls="five" aria-selected="false">Documents</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#four" role="tab" aria-controls="four" aria-selected="false">Membership</a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div id="my-tab-content2" class="tab-content">
                    <!--Profile-->
                    <div class="tab-pane active" id="one" role="tabpanel" aria-expanded="true">
                        <div class="row">
                            <div class="col-1">&nbsp;</div>
                            <div class="col-10">
                                <div class="card border shadow-none">
                                    <div class="card-body ">
                                        <div class="row mb-md-2">

                                            <div class="col-md-6 row">
                                                <div class="col-md-4 text-left required">
                                                    <label asp-for=Organization.Name class="control-label"></label>
                                                </div>
                                                <div class="col-md-8 form-group ">
                                                    <input type="text" class="form-control" asp-for=Organization.Name />
                                                    <span asp-validation-for="Organization.Name" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-6 row">
                                                <div class="col-md-6 text-left">
                                                    <label asp-for=Organization.PhoneNumber class="control-label"></label>
                                                </div>
                                                <div class="col-md-6 form-group ">
                                                    <input type="text" class="form-control" asp-for=Organization.PhoneNumber />
                                                    <span asp-validation-for="Organization.PhoneNumber" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row mb-md-2">

                                            <div class="col-md-6 row">
                                                <div class="col-md-4 text-left">
                                                    <label asp-for=Organization.WebSite class="control-label"></label>
                                                </div>
                                                <div class="col-md-8 form-group ">
                                                    <input type="text" class="form-control" asp-for=Organization.WebSite />
                                                    <span asp-validation-for="Organization.WebSite" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-6 row">
                                                <div class="col-md-6 text-left required">
                                                    <label asp-for=Organization.SecondaryPhoneNumber class="control-label"></label>
                                                </div>
                                                <div class="col-md-6 form-group ">
                                                    <input type="text" class="form-control" asp-for=Organization.SecondaryPhoneNumber />
                                                    <span asp-validation-for="Organization.SecondaryPhoneNumber" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>



                                        <div class="row mb-md-2">

                                            <div class="col-md-6 row">
                                                <div class="col-md-4 text-left">
                                                    <label asp-for=Organization.TaxNumber class="control-label"></label>
                                                </div>

                                                <div class="col-md-8 form-group ">
                                                    <input type="text" class="form-control" asp-for=Organization.TaxNumber />
                                                    <span asp-validation-for="Organization.TaxNumber" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-6 row">
                                                <div class="col-md-6 text-left required">
                                                    <label asp-for=Organization.RegistrationNumber class="control-label"></label>
                                                </div>
                                                <div class="col-md-6 form-group ">
                                                    <input type="text" class="form-control" asp-for=Organization.RegistrationNumber />
                                                    <span asp-validation-for="Organization.RegistrationNumber" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row mb-md-2">



                                        </div>


                                        <div class="row  mb-md-2">
                                            <div class="col-md-12 row">
                                                <div class="col-md-2 text-left">
                                                    <label asp-for=Organization.Notes class="control-label mt-4"></label>
                                                </div>
                                                <div class="col-md-10 form-group pl-2 pr-1">
                                                    <textarea type="text" class="form-control" style="width:96%" asp-for=Organization.Notes></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>


                        </div>
                    </div>
                    <!--Profile - End-->
                    <!--Business-->
                    <div class="tab-pane fade" id="two" role="tabpanel" aria-expanded="false">
                        <div class="row">
                            <div class="col-3">&nbsp;</div>
                            <div class="col-md-6">
                                <div class="row">
                                    <!--Core Business-->

                                    <div class="col-md-12">
                                        <div class="card border shadow-none">
                                            <div class="card-header">
                                                <h6 class="lead"><b>Core Business</b></h6>
                                            </div>
                                            <div class="card-body">
                                                @for (int j = 0; j < Model.OrganizationBusinessList.Count; j++)
                                                {

                                                    <input type="hidden" asp-for="@Model.OrganizationBusinessList[j].Id" />
                                                    <input type="hidden" asp-for="@Model.OrganizationBusinessList[j].BusinessId" />
                                                    <div class="row mb-md-2">
                                                        <div class="col-md-7 text-left">
                                                            <label class="control-label">@Model.OrganizationBusinessList[j].Business.Name</label>
                                                        </div>
                                                        <div class="col-md-5 form-group">
                                                            <select class="form-control" asp-for=@Model.OrganizationBusinessList[j].IsSelected asp-items="ViewBag.YesNoList"></select>
                                                            <span class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                }
                                                <div class="row mb-md-2">
                                                    <div class="col-md-7 text-left">
                                                        <label class="control-label">Others</label>
                                                    </div>
                                                    <div class="col-md-5 form-group">
                                                        <input type="text" class="form-control" />
                                                        <span class="text-danger"></span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!--Core Business - End-->

                                </div>

                            </div>
                            <div class="col-3">&nbsp;</div>
                        </div>
                    </div>
                    <!--Business - End-->
                    <!--Address-->
                    <div class="tab-pane fade" id="three" role="tabpanel" aria-expanded="false">
                        <div class="row">
                            <div class="col-1">&nbsp;</div>
                            <div class="col-10">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card border shadow-none">
                                            <div class="card-header">
                                                <h6 class="lead"><b>Physical Address</b></h6>
                                            </div>

                                            <div class="card-body">
                                                <div class="row mb-2">
                                                    <div class="col-md-4 text-left">
                                                        <label asp-for=PhysicalAddress.AddressLine1 class="control-label"></label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        <input type="text" class="form-control form-input" asp-for=PhysicalAddress.AddressLine1 />
                                                    </div>
                                                </div>

                                                <div class="row mb-2">
                                                    <div class="col-md-4 text-left">
                                                        <label asp-for=PhysicalAddress.AddressLine2 class="control-label"></label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        <input type="text" class="form-control form-input" asp-for=PhysicalAddress.AddressLine2 />
                                                    </div>
                                                </div>

                                                <div class="row mb-2">
                                                    <div class="col-md-4 text-left">
                                                        <label asp-for=PhysicalAddress.Suburb class="control-label"></label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        <input type="text" class="form-control form-input" asp-for=PhysicalAddress.Suburb />
                                                    </div>
                                                </div>

                                                <div class="row mb-2">
                                                    <div class="col-md-4 text-left">
                                                        <label asp-for=PhysicalAddress.CityName class="control-label"></label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        <input type="text" class="form-control form-input" asp-for=PhysicalAddress.CityName />
                                                    </div>
                                                </div>

                                                <div class="row mb-2">
                                                    <div class="col-md-4 text-left">
                                                        <label asp-for=PhysicalAddress.Province class="control-label"></label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        <select type="text" class="form-control form-input" asp-for=PhysicalAddress.StateId asp-items=ViewBag.ProvinceId>
                                                            <option value="" selected disabled>Select Province</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="row mb-2">
                                                    <div class="col-md-4 text-left">
                                                        <label asp-for=PhysicalAddress.CountryId class="control-label"></label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        <select type="text" class="form-control form-input" asp-for=PhysicalAddress.CountryId asp-items=ViewBag.CountryId>
                                                            <option value="" selected disabled>Select Country</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="row mb-2">
                                                    <div class="col-md-4 text-left">
                                                        <label asp-for=PhysicalAddress.PostalCode class="control-label"></label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        <input type="text" class="form-control form-input" asp-for=PhysicalAddress.PostalCode />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="card border shadow-none">
                                            <div class="card-header">
                                                <h6 class="lead"><b>Postal Address</b></h6>
                                            </div>

                                            <div class="card-body">
                                                <div class="row mb-2">
                                                    <div class="col-md-4 text-left required">
                                                        <label asp-for=PostalAddress.AddressLine1 class="control-label"></label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        <input type="text" class="form-control form-input" asp-for=PostalAddress.AddressLine1 />
                                                        <span asp-validation-for="PostalAddress.AddressLine1"></span>
                                                    </div>
                                                </div>

                                                <div class="row mb-2">
                                                    <div class="col-md-4 text-left required">
                                                        <label asp-for=PostalAddress.AddressLine2 class="control-label"></label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        <input type="text" class="form-control form-input" asp-for=PostalAddress.AddressLine2 />
                                                        <span asp-validation-for="PostalAddress.AddressLine2"></span>
                                                    </div>
                                                </div>

                                                <div class="row mb-2">
                                                    <div class="col-md-4 text-left required">
                                                        <label asp-for=PostalAddress.Suburb class="control-label"></label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        <input type="text" class="form-control form-input" asp-for=PostalAddress.Suburb />
                                                        <span asp-validation-for="PostalAddress.Suburb"></span>
                                                    </div>
                                                </div>
                                                <div class="row mb-2">
                                                    <div class="col-md-4 text-left required">
                                                        <label asp-for=PostalAddress.CityName class="control-label"></label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        <input type="text" class="form-control form-input" asp-for=PostalAddress.CityName />
                                                        <span asp-validation-for="PostalAddress.CityName"></span>
                                                    </div>
                                                </div>

                                                <div class="row mb-2">
                                                    <div class="col-md-4 text-left required">
                                                        <label asp-for=PostalAddress.Province class="control-label"></label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        <select type="text" class="form-control form-input" asp-for=PostalAddress.StateId asp-items=ViewBag.ProvinceId>
                                                            <option value="" selected disabled>Select Province</option>
                                                        </select>
                                                        <span asp-validation-for="PostalAddress.StateId"></span>
                                                    </div>
                                                </div>

                                                <div class="row mb-2">
                                                    <div class="col-md-4 text-left required">
                                                        <label asp-for=PostalAddress.CountryId class="control-label"></label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        <select type="text" class="form-control form-input" asp-for=PostalAddress.CountryId asp-items=ViewBag.CountryId>
                                                            <option value="" selected disabled>Select Country</option>
                                                        </select>
                                                        <span asp-validation-for="PostalAddress.CountryId"></span>
                                                    </div>
                                                </div>

                                                <div class="row mb-2">
                                                    <div class="col-md-4 text-left required">
                                                        <label asp-for=PostalAddress.PostalCode class="control-label"></label>
                                                    </div>
                                                    <div class="col-md-8 form-group">
                                                        <input type="text" class="form-control form-input" asp-for=PostalAddress.PostalCode />
                                                        <span asp-validation-for="PostalAddress.PostalCode"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Address - End-->
                    <!--Membership Info-->
                    <div class="tab-pane fade" id="four" role="tabpanel" aria-expanded="false">
                        <div class="row">
                            <div class="col-md-2">&nbsp;</div>

                            <div class="col-md-8">
                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="card border shadow-none">
                                            <div class="card-header">
                                                <h6 class="lead"><b>others</b></h6>
                                            </div>
                                            <div class="card-body">

                                                <div class="row mb-2">
                                                    <div class="col-md-5 text-left">
                                                        <label asp-for=Organization.IsMembershipFeeInvoicedToCompany class="control-label"></label>
                                                    </div>
                                                    <div class="col-md-7 form-group">
                                                        <select type="text" class="form-control form-input" asp-for=Organization.IsMembershipFeeInvoicedToCompany asp-items="ViewBag.YesNoList"></select>
                                                    </div>
                                                </div>
                                                <div class="row mb-2">
                                                    <div class="col-md-5 text-left">
                                                        <label asp-for=Organization.PublishCompanyInAnnualMemberDirectory class="control-label"></label>
                                                    </div>
                                                    <div class="col-md-7 form-group">
                                                        <select type="text" class="form-control form-input" asp-for=Organization.PublishCompanyInAnnualMemberDirectory asp-items="ViewBag.YesNoList"></select>
                                                    </div>
                                                </div>

                                                <div class="row mb-2">
                                                    <div class="col-md-5 text-left">
                                                        <label asp-for=Organization.ClientBranchId class="control-label"></label>
                                                    </div>
                                                    <div class="col-md-7 form-group">
                                                        <select type="text" class="form-control form-input" asp-for=Organization.ClientBranchId asp-items="ViewBag.ClientBranchId"></select>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">&nbsp;</div>

                            <div class="col-12">
                                <div>
                                    <p><b>Declaration</b></p>
                                    <p class="ml-2">
                                        By completing this form you agree to become a member of the
                                        Water Institute of Southern Africa and when admitted you agree
                                        to abide by the institutes Code of Conduct and Rules of the
                                        Company. You commit to pay promptly and in advance the annual
                                        subscription fee by 31 January of each year. You agree to
                                        generally promote the aims and objectives of the Institute and
                                        to enhance the environment.
                                    </p>
                                </div>
                                <div class="form-check pull-left">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="optionCheckboxes">
                                        <span class="form-check-sign"></span>
                                        <h6> please tick this block to show that you agree to fulfil this declaration</h6>
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-outline-primary float-md-right">Register</button>
                            </div>
                        </div>
                    </div>
                    <!--Membership Info - End-->


                    <div class="tab-pane fade" id="five" role="tabpanel" aria-expanded="false">
                        <div class="row">


                            <div class="col-1"></div>
                            <div class="col-10">
                                <!-- Upload Files -->
                                <div class="card mb-4  border shadow-none" style="min-height:300px !important">
                                    <div class="card-body">
                                        <table class="table table-sm mb-1 table-borderless table-condensed"
                                               id="documentsTable"
                                               data-sticky-header="true">
                                            <tr>
                                                <th width="30%" class="text-left">File Type</th>
                                                <th>File Name</th>
                                            </tr>
                                            <tr>
                                                <td class="text-left">
                                                    Documents 
                                                </td>
                                                <td>
                                                    <div class="custom-file form-group mt-md-1">
                                                        <input type="file" class="custom-file-input form-control" multiple asp-for="Documents" />
                                                        <label class="custom-file-label text-left" for="custom-file-input">Click to Upload Documents</label>
                                                    </div>
                                                
                                                       

                                                </td>
                                            </tr>





                                        </table>
                                    </div>
                                </div>
                                <!-- Upload Files End -->
                            </div>


                        </div>
                    </div>








                </div>

            </div>

        </div>
    </div>
</div>
</form>

<!--  JavaScript  -->
@section scripts {
    <script>



              $(document).ready(function () {


            if ('@Json.Serialize(isDev)' == "true")
            {
                var random = Math.floor(Math.random() * 1000) + 1;
                $('#Organization_Name').val("Organization " + random);
                $('#Organization_WebSite').val("Organization " + random+".co.za");
                $('#Organization_TaxNumber').val("Tax Number "+random);
                $('#Organization_RegistrationNumber').val("Registration Number " + random);
                $('#Organization_PhoneNumber').val("123456789");
                $('#Organization_SecondaryPhoneNumber').val("123456789");

                $('#Organization_Notes').val("Description for Organization " + random+".co.za");

                $('#PostalAddress_AddressLine1').val("CEO, ABZ Villa");
                $('#PostalAddress_AddressLine2').val("ABZ Lane, Hill Top");
                $('#PostalAddress_Suburb').val("Forst Place");
                $('#PostalAddress_CityName').val("Midrand");
                $('#PostalAddress_Province').val("2");
                $('#PostalAddress_CountryId').val("1");
                $('#PostalAddress_PostalCode').val("2020");
                $('#PhysicalAddress_AddressLine1').val("CEO Office, ABZ Corp");
                $('#PhysicalAddress_AddressLine2').val("ABZ Lane, RiverSide");
                $('#PhysicalAddress_Suburb').val("Morningside");
                $('#PhysicalAddress_CityName').val("Sandton");
                $('#PhysicalAddress_Province').val("2");
                $('#PhysicalAddress_CountryId').val("1");
                $('#PhysicalAddress_PostalCode').val("2020");
                $('.optionCheckboxes').prop("checked", true);
            }
        });


        /******* Display name of file *******/
        $(".custom-file-input").on("change", function () {
            var files = [];
            for (var i = 0; i < $(this)[0].files.length; i++) {
                files.push($(this)[0].files[i].name);
            }
            $(this)
                .siblings(".custom-file-label")
                .addClass("selected")
                .html(files.join(', '));
        });

    </script>
}