@page
@model MDM.Pages.Client.StartModel
@using MDM.Models;
@using MDM.Helper;

@{

    ViewData["Title"] = "Set Up";
    ViewData["Page"] = "Set Up";

  
}
<form method="post" id="SetUp" style="width:100%">
    <partial name="_CRUDHeader" , model='new Header{name="Set Up", description="Initial Set up "}'>
        <div class="container">
            <div class="reg-container row">
                <!--  Personal -->
                <div class="col-12">
                    <div class="card shadow-sm">
                        <partial name="_CardHeaderPartial" , model='new Header{name="Set Up"}'>
                            <div class="card-body reg-card-body">
                                <div class="row">
                                    <div class="col-12 mb-12 text-left">
                                        <button class="btn btn-outline-danger" style="width:250px;" asp-page-handler="Run">Set up</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

</form>

@section scripts
{
    <script>

               //      $(document).ready(function () {
               //          setTimeout(function() {
               //         $("#indbutton").trigger('click');
               //     }, 2000);
               //});

    </script>
}
