@page
@model MM.Pages.Report.ActiveIndividualPerGradeModel


@{ 
    ViewData["Title"] = "All Individual Information";
    ViewData["Page"] = "All Individual Information";
    }


<style>


    .somestuff::-webkit-input-placeholder {
        text-align: right;
    }
</style>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Active Individuals Per Grade</h4>
            </div>
            <div class="card-body table-responsive">
                <table id="list" class="table table-responsive-sm" style="width:100%">
                    <tfoot>
                        <tr>
                            <th>Membership Grade</th>
                            <th>Membership Status</th>
                            <th>Memberhsip Number</th>
                            <th>Memberhsip Type</th>
                            <th>Full Name</th>
                            <th>ID Number</th>
                            <th>Email</th>
                            <th>Home Phone</th>
                            <th>Mobile Phone</th>
                            <th>Account Balance</th>
                            <th>Created On</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                           
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>

@section scripts {
    <script>

        var dataTable;
        $(document).ready(function () {

            $('#list').show();


            dataTable = $('#list').DataTable({
                language: {
                    sLoadingRecords: '<span style="width:100%;"><img src="https://media.giphy.com/media/MDrmyLuEV8XFOe7lU6/giphy.gif"></span>'
                }, 
                dom: 'Bfrtip',
                buttons: [

                    { extend: 'copy', className: 'btn btn-success btn-outline-success' },
                    { extend: 'csv', className: 'btn btn-success btn-outline-success' },
                    //{ extend: 'excel', className: 'btn btn-success btn-outline-success' },
                    { extend: 'pdf', orientation: 'landscape', pageSize: 'LEGAL', className: 'btn btn-success btn-outline-success' },
                    { extend: 'print', className: 'btn btn-success btn-outline-success' }

                ],
                pageLength: 10,
                ajax: {
                    url: '?handler=List',
                    dataSrc: ''
                },
                initComplete: function (settings, json) {
                    //console.log(json);
                },

                "columns": [
                    { title: "Membership Grade", data: "membershipGradeName", "autoWidth": true, },
                    { title: "Membership Status", data: "memberStatusName", "autoWidth": true, },
                    { title: "Membership Number", data: "memberCode", "autoWidth": true, },
                    { title: "Membership Type", data: "membershipTypeName", "autoWidth": true, "visible": false },
                    { title: "Full Name", data: "fullName", "autoWidth": true, },
                    { title: "ID Number", data: "idNumber", "autoWidth": true, },
                    { title: "Email", data: "email", "autoWidth": true, },
                    { title: "Home Phone", data: "homePhoneNumber", "autoWidth": true, },
                    { title: "Mobile Phone", data: "mobilePhone", "autoWidth": true, },
                    { title: "Account Balance", data: "accountBalance", "autoWidth": true, },
                    {
                        title: "Created On", data: "createdOn", "autoWidth": true,
                        render: function (data) {
                            if (data == null) return "";
                            var dt = new Date(data);
                            return dt.getDate() + "-" + (dt.getMonth() + 1) + "-" + dt.getFullYear();
                        }
                    }
                    ,
                    {
                        title: "Start Date", data: "startDate", "autoWidth": true,
                        render: function (data) {
                            if (data == null) return "";
                            var dt = new Date(data);
                            return dt.getDate() + "-" + (dt.getMonth() + 1) + "-" + dt.getFullYear();
                        }
                    },
                    {
                        title: "End Date", data: "endDate", "autoWidth": true,
                        render: function (data) {
                            if (data == null) return "";
                            var dt = new Date(data);
                            return dt.getDate() + "-" + (dt.getMonth() + 1) + "-" + dt.getFullYear();
                        }
                    }  

                ]
            });

            $(".dataTables_filter").hide();


            // Setup - add a text input to each footer cell
            $('#list tfoot th').each(function () {
                var title = $('#list thead th').eq($(this).index()).text();
                if (title != "Action") {
                    var field = '<input type="text"  class="somestuff form-control form-input" style="padding-left:5px;;font-family: FontAwesome;Montserrat,Helvetica Neue, Arial, sans-serif" placeholder=" &#xf002" name="' + title.replace(' ', '') + '" id="' + title.replace(' ', '') + '" />';
                    $(this).html(field);
                }

            });
            $('#list tfoot tr').appendTo('#list thead');

            $('#MembershipGrade').on('keyup', function () {
                $('#list')
                    .DataTable().columns(0)
                    .search($('#MembershipGrade').val(), false, true)
                    .draw();
            });

            $('#MembershipStatus').on('keyup', function () {
                $('#list')
                    .DataTable().columns(1)
                    .search($('#MembershipStatus').val(), false, true)
                    .draw();
            });

            $('#MembershipNumber').on('keyup', function () {
                $('#list')
                    .DataTable().columns(2)
                    .search($('#MembershipNumber').val(), false, true)
                    .draw();
            });

            $('#MembershipType').on('keyup', function () {
                $('#list')
                    .DataTable().columns(3)
                    .search($('#MembershipType').val(), false, true)
                    .draw();
            });

            $('#FullName').on('keyup', function () {
                $('#list')
                    .DataTable().columns(4)
                    .search($('#FullName').val(), false, true)
                    .draw();
            });

       
            

            $('#IDNumber').on('keyup', function () {

                $('#list')
                    .DataTable().columns(5)
                    .search($('#IDNumber').val(), false, true)
                    .draw();
            });

         
            $('#Email').on('keyup', function () {

                $('#list')
                    .DataTable().columns(6)
                    .search($('#Email').val(), false, true)
                    .draw();
            });

            $('#HomePhone').on('keyup', function () {

                $('#list')
                    .DataTable().columns(7)
                    .search($('#HomePhone').val(), false, true)
                    .draw();
            });


            $('#MobilePhone').on('keyup', function () {

                $('#list')
                    .DataTable().columns(8)
                    .search($('#MobilePhone').val(), false, true)
                    .draw();
            });

           

          

            $('#AccountBalance').on('keyup', function () {

                $('#list')
                    .DataTable().columns(9)
                    .search($('#AccountBalance').val(), false, true)
                    .draw();
            });

         

            $('#CreatedOn').on('keyup', function () {

                $('#list')
                    .DataTable().columns(10)
                    .search($('#CreatedOn').val(), false, true)
                    .draw();
            });

           

            $('#StartDate').on('keyup', function () {

                $('#list')
                    .DataTable().columns(11)
                    .search($('#StartDate').val(), false, true)
                    .draw();
            });

            $('#EndDate').on('keyup', function () {

                $('#list')
                    .DataTable().columns(12)
                    .search($('#EndDate').val(), false, true)
                    .draw();
            });


        });
    </script>

}