@page
@model MM.Pages.Report.CompanyMailingListModel


@{
    ViewData["Title"] = "Company Mailing List";
    ViewData["Page"] = "Company Mailing List";
}

    <style>

        .table > thead > tr > th,
        .table > tbody > tr > th,
        .table > tfoot > tr > th,
        .table > thead > tr > td,
        .table > tbody > tr > td,
        .table > tfoot > tr > td {
            vertical-align: top;
        }

        .somestuff::-webkit-input-placeholder {
            text-align: right;
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .spinner:before {
            content: '';
            box-sizing: border-box;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 120px;
            height: 120px;
            margin-top: -10px;
            margin-left: -10px;
            border-radius: 50%;
            border: 2px solid #ccc;
            border-top-color: #333;
            animation: spin .6s linear infinite;
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #3498db; /* Blue */
        }
    </style>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Active Organizations Mailing List</h4>
            </div>
            <div class="card-body table-responsive">
                <table id="list" class="table table-bordered" cellspacing="0" cellpadding="0" width="100%">
                    <tfoot>
                        <tr style="background-color:white;color:black;">
                            <th style="min-width:200px;">Company Name</th>
                            <th style="min-width:200px;">Email</th>

                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>

@section scripts {
    <script>
        var dataTable;
        $(document).ready(function () {

            $('#list').show();


            dataTable = $('#list').DataTable({
                language: {

                    sLoadingRecords: '<div><img src="https://media.giphy.com/media/MDrmyLuEV8XFOe7lU6/giphy.gif"></div>'
                },
                "pagingType": "full_numbers",
                "dom": "<'row'<'col-md-6'l><'col-md-6 text-right'Bf>>" +
                    "<'row'<'col-md-12't>><'row'<'col-md-4'i><'col-md-6 small'p><'col-md-2'>>",
                autoWidth: false,
                buttons: [

                    { extend: 'copy', className: 'btn btn-sm btn-outline-primary' },
                    { extend: 'csv', className: 'btn btn-sm btn-outline-primary' },
                    { extend: 'excel', className: 'btn btn-sm btn-outline-primary' },
                    { extend: 'pdf', orientation: 'landscape', pageSize: 'LEGAL', className: 'btn btn-sm btn-outline-primary' },
                    { extend: 'print', className: 'btn btn-sm  btn-outline-primary' }

                ],
                pageLength: 10,
                ajax: {
                    url: '?handler=List',
                    dataSrc: ''
                },
                //initComplete: function () {
                //    this.api().columns().every(function (i) {

                //        if (i == 0 || i == 1 || i == 3) {
                //            var column = this;
                //            var select = $('<select class="somestuff form-control form-input" style="padding-left:5px;"><option value="">Please select</option></select>')
                //                .appendTo($(column.footer()).empty())
                //                .on('change', function () {
                //                    var val = $.fn.dataTable.util.escapeRegex(
                //                        $(this).val()
                //                    );

                //                    column
                //                        .search(val ? '^' + val + '$' : '', true, false)
                //                        .draw();
                //                });

                //            column.data().unique().sort().each(function (d, j) {
                //                select.append('<option value="' + d + '">' + d + '</option>')
                //            });
                //        }
                //    });
                //},

                "columns": [
                    { title: "Organization Name", data: "name", "autoWidth": true, },
                    { title: "Email", data: "primaryContactEmail", "autoWidth": true, },
                ]
            });

            $(".dataTables_filter").hide();


            // Setup - add a text input to each footer cell
            $('#list tfoot th').each(function () {
                var title = $('#list thead th').eq($(this).index()).text();
                if (title != "Action") {
                    var field = '<input type="text"  class="dtplaceholder datatableSearch form-control form-input" placeholder=" &#xf002" name="' + title.replace(' ', '') + '" id="' + title.replace(' ', '') + '" />';
                    $(this).html(field);
                }
                else {
                    var field = '<input type="text"  class="dtplaceholder datatableSearch form-control form-input" placeholder="" name="' + title.replace(' ', '') + '" id="' + title.replace(' ', '') + '" />';
                    $(this).html(field);
                }

            });
            $('#list tfoot tr').appendTo('#list thead');


            //$("#list tfoot th").each(function (i) {
            //    var select = $('<select><option value=""></option></select>')
            //        .appendTo($(this).empty())
            //        .on('change', function () {
            //            dataTable.column(i)
            //                .search($(this).val())
            //                .draw();
            //        });

            //    dataTable.column(i).data().unique().sort().each(function (d, j) {
            //        select.append('<option value="' + d + '">' + d + '</option>')
            //    });
            //});

            $('#organizationname').on('keyup', function () {
                $('#list')
                    .datatable().columns(0)
                    .search($('#organizationname').val(), false, true)
                    .draw();
            });

            $('#Email').on('keyup', function () {
                $('#list')
                    .datatable().columns(1)
                    .search($('#Email').val(), false, true)
                    .draw();
            });


        });
    </script>

}