@page
@model MM.Pages.Report.ResignedMembersModel


@{
    ViewData["Title"] = "Resigned Members";
    ViewData["Page"] = "Resigned Members";
}


    <style>

        .table > thead > tr > th,
        .table > tbody > tr > th,
        .table > tfoot > tr > th,
        .table > thead > tr > td,
        .table > tbody > tr > td,
        .table > tfoot > tr > td {
            vertical-align: top;
        }

        .somestuff::-webkit-input-placeholder {
            text-align: right;
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .spinner:before {
            content: '';
            box-sizing: border-box;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 120px;
            height: 120px;
            margin-top: -10px;
            margin-left: -10px;
            border-radius: 50%;
            border: 2px solid #ccc;
            border-top-color: #333;
            animation: spin .6s linear infinite;
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #3498db; /* Blue */
        }
    </style>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Resigned  Members</h4>
            </div>
            <div class="card-body table-responsive">
                <table id="list" class="table table-bordered" cellspacing="0" cellpadding="0" width="100%">
                    <tfoot>
                        <tr style="background-color:white;color:black;">
                            <th style="min-width:150px;">Membership Grade</th>
                            <th style="min-width:150px;">Membership Status</th>
                            <th style="min-width:175px;">Memberhsip Number</th>
                            <th style="min-width:175px;">Memberhsip Type</th>
                            <th style="min-width:200px;">Full Name</th>
                            <th style="min-width:100px;">ID Number</th>
                            <th style="min-width:200px;">Email</th>
                            <th style="min-width:100px;">Home Phone</th>
                            <th style="min-width:215px;">Mobile Phone</th>
                            <th style="min-width:100px;">Account Balance</th>
                            <th style="min-width:100px;">Created On</th>
                            <th style="min-width:100px;">Start Date</th>
                            <th style="min-width:100px;">End Date</th>

                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>

@section scripts {
    <script>






        var dataTable;
        $(document).ready(function () {

            $('#list').show();


            dataTable = $('#list').DataTable({
                language: {
                    sLoadingRecords: '<span style="width:100%;"><img src="https://media.giphy.com/media/MDrmyLuEV8XFOe7lU6/giphy.gif"></span>'
                },
                "pagingType": "full_numbers",
                "dom": "<'row'<'col-md-6'l><'col-md-6 text-right'Bf>>" +
                    "<'row'<'col-md-12't>><'row'<'col-md-4'i><'col-md-6 small'p><'col-md-2'>>",
                autoWidth: false,
                //dom: 'Bfrtip',
                buttons: [

                    { extend: 'copy', className: 'btn btn-sm btn-outline-primary' },
                    { extend: 'csv', className: 'btn btn-sm btn-outline-primary' },
                    { extend: 'excel', className: 'btn btn-sm btn-outline-primary' },
                    { extend: 'pdf', orientation: 'landscape', pageSize: 'LEGAL', className: 'btn btn-sm btn-outline-primary' },
                    { extend: 'print', className: 'btn btn-sm  btn-outline-primary' }

                    //{ extend: 'copy', className: 'btn btn-success btn-outline-success' },
                    //{ extend: 'csv', className: 'btn btn-success btn-outline-success' },
                    //{ extend: 'excel', className: 'btn btn-success btn-outline-success' },
                    //{ extend: 'pdf', orientation: 'landscape', pageSize: 'LEGAL', className: 'btn btn-success btn-outline-success' },
                    //{ extend: 'print', className: 'btn btn-success btn-outline-success' }

                ],
                pageLength: 10,
                ajax: {
                    url: '?handler=List',
                    dataSrc: ''
                },
                initComplete: function () {
                    this.api().columns().every(function (i) {

                        if (i == 0 || i == 1 || i == 3) {
                            var column = this;
                            var select = $('<select class="somestuff form-control form-input" style="padding-left:5px;"><option value="">Please select</option></select>')
                                .appendTo($(column.footer()).empty())
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );

                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });

                            column.data().unique().sort().each(function (d, j) {
                                select.append('<option value="' + d + '">' + d + '</option>')
                            });
                        }
                        /*if (i == 0||i==1) {
                            var column = this;
                            var select = $('<select class="somestuff form-control form-input" style="padding-left:5px;"><option value="">Please select</option></select>')
                                .appendTo($(column.footer()).empty())
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );

                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });

                            column.data().unique().sort().each(function (d, j) {
                                select.append('<option value="' + d + '">' + d + '</option>')
                            });
                        }*/
                    });
                },

                "columns": [
                    { title: "Membership Grade", data: "membershipGradeName", "autoWidth": true, },
                    { title: "Membership Status", data: "memberStatusName", "autoWidth": true, },
                    { title: "Membership Number", data: "memberCode", "autoWidth": true, },
                    { title: "Membership Type", data: "membershipTypeName", "autoWidth": true, "visible": false },
                    { title: "Full Name", data: "fullName", "autoWidth": true, },
                    { title: "ID Number", data: "idNumber", "autoWidth": true, },
                    { title: "Email", data: "email", "autoWidth": true, },
                    { title: "Home Phone", data: "homePhoneNumber", "autoWidth": true, "visible": false },
                    { title: "Mobile Phone", data: "mobilePhone", "autoWidth": true, },
                    { title: "Balance", data: "accountBalance", "autoWidth": true, },
                    {
                        title: "Created On", data: "createdOn", "autoWidth": true, "visible": false,
                        render: function (data) {
                            if (data == null) return "";
                            var dt = new Date(data);
                            return dt.getDate() + "-" + (dt.getMonth() + 1) + "-" + dt.getFullYear();
                        }
                    }
                    ,
                    {
                        title: "Start Date", data: "startDate", "autoWidth": true,
                        render: function (data) {
                            if (data == null) return "";
                            var dt = new Date(data);
                            return dt.getDate() + "-" + (dt.getMonth() + 1) + "-" + dt.getFullYear();
                        }
                    },
                    {
                        title: "End Date", data: "endDate", "autoWidth": true,
                        render: function (data) {
                            if (data == null) return "";
                            var dt = new Date(data);
                            return dt.getDate() + "-" + (dt.getMonth() + 1) + "-" + dt.getFullYear();
                        }
                    }

                ]
            });

            $(".dataTables_filter").hide();


            // Setup - add a text input to each footer cell
            $('#list tfoot th').each(function () {
                var title = $('#list thead th').eq($(this).index()).text();
                if (title != "Action") {
                    var field = '<input type="text"  class="dtplaceholder datatableSearch form-control form-input" placeholder=" &#xf002" name="' + title.replace(' ', '') + '" id="' + title.replace(' ', '') + '" />';
                    $(this).html(field);
                }
                else {
                    var field = '<input type="text"  class="dtplaceholder datatableSearch form-control form-input" placeholder="" name="' + title.replace(' ', '') + '" id="' + title.replace(' ', '') + '" />';
                    $(this).html(field);
                }
               
            });

            $('#list tfoot tr').appendTo('#list thead');

            $('#MembershipGrade').on('keyup', function () {
                $('#list')
                    .DataTable().columns(0)
                    .search($('#MembershipGrade').val(), false, true)
                    .draw();
            });

            $('#MembershipStatus').on('keyup', function () {
                $('#list')
                    .DataTable().columns(1)
                    .search($('#MembershipStatus').val(), false, true)
                    .draw();
            });

            $('#MembershipNumber').on('keyup', function () {
                $('#list')
                    .DataTable().columns(2)
                    .search($('#MembershipNumber').val(), false, true)
                    .draw();
            });

            $('#MembershipType').on('keyup', function () {
                $('#list')
                    .DataTable().columns(3)
                    .search($('#MembershipType').val(), false, true)
                    .draw();
            });

            $('#FullName').on('keyup', function () {
                $('#list')
                    .DataTable().columns(4)
                    .search($('#FullName').val(), false, true)
                    .draw();
            });




            $('#IDNumber').on('keyup', function () {

                $('#list')
                    .DataTable().columns(5)
                    .search($('#IDNumber').val(), false, true)
                    .draw();
            });


            $('#Email').on('keyup', function () {

                $('#list')
                    .DataTable().columns(6)
                    .search($('#Email').val(), false, true)
                    .draw();
            });

            $('#HomePhone').on('keyup', function () {

                $('#list')
                    .DataTable().columns(7)
                    .search($('#HomePhone').val(), false, true)
                    .draw();
            });


            $('#MobilePhone').on('keyup', function () {

                $('#list')
                    .DataTable().columns(8)
                    .search($('#MobilePhone').val(), false, true)
                    .draw();
            });





            $('#AccountBalance').on('keyup', function () {

                $('#list')
                    .DataTable().columns(9)
                    .search($('#AccountBalance').val(), false, true)
                    .draw();
            });



            $('#CreatedOn').on('keyup', function () {

                $('#list')
                    .DataTable().columns(10)
                    .search($('#CreatedOn').val(), false, true)
                    .draw();
            });



            $('#StartDate').on('keyup', function () {

                $('#list')
                    .DataTable().columns(11)
                    .search($('#StartDate').val(), false, true)
                    .draw();
            });

            $('#EndDate').on('keyup', function () {

                $('#list')
                    .DataTable().columns(12)
                    .search($('#EndDate').val(), false, true)
                    .draw();
            });

        });
    </script>

}