@page
@model UserActivityModel




        <div class="card   shadow-none border-0 ">
            <div class="card-body">

                <h4 class="card-title text-center">User Activity</h4>
                        <div class="row">
                            <div class="col-md-12">
                                <form method="post" id="UserActivityForm" name="UserActivityForm">
                                    <div class="card ind-member shadow-none border-0">

                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label class="control-label">Select User</label>
                                                        <select class="form-control form-input" asp-for="UserId" asp-items=ViewBag.UserId>
                                                            <option value="" selected disabled>Select User</option>
                                                        </select>
                                                        <span asp-validation-for="UserId" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group required">
                                                        <label class="control-label">Date From</label>
                                                        <input type="date" class="form-control form-input" asp-for="From" />
                                                        <span asp-validation-for="From" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group required">
                                                        <label class="control-label">Date To</label>
                                                        <input type="date" class="form-control form-input" asp-for="To" />
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label">Activity</label>
                                                        <input type="text" class="form-control form-input" asp-for="Activity" />
                                                    </div>
                                                </div>
                                                <div class="col-md-2 text-left">
                                                    <button type="submit" id="btnSubmit"
                                                            class="btn btn-outline-info mt-4">
                                                        Search
                                                    </button>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                </form>
                            </div>

                        </div>
                   

                <h4 class="card-title text-center">Results</h4>
                <div class="card shadow-none border-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card   shadow-none border-0 ">
                                    <div class="card-body">
                                        <div class="table">
                                            <table id="list" class="table w-100" width="100">
                                                <thead>
                                                    <tr>
                                                        <th>Email</th>
                                                      
                                                        <th>Time</th>
                                                        <th>Activity </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.Activities != null)
                                                    {
                                                        @for (int i = 0; i < Model.Activities.Count; i++)
                                                        {
                                                            <tr class="text-dark">
                                                                <td>@Model.Activities[i].Email</td>
                                                               
                                                                <td>@Model.Activities[i].CreatedOn</td>
                                                                <td>@Model.Activities[i].ActivityDetail</td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                                <tfoot>
                                                    <tr style="background-color:white;color:black;">
                                                        <th>Email</th>
                                                        <th>Full Name</th>
                                                        <th>Time</th>
                                                        <th>Activity </th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
   

@section scripts
{
    <script>
        var dataTable;

        $(document).ready(function () {

            $('#list').DataTable({

                language:
                {

                    sLoadingRecords: '<div><img src="https://media.giphy.com/media/MDrmyLuEV8XFOe7lU6/giphy.gif"></div>'
                },
                "pagingType": "full_numbers",
                order: [[1, 'desc']],
                "dom": "<'row'<'col-md-6'l><'col-md-6 text-right'Bf>>" +
                    "<'row'<'col-md-12't>><'row'<'col-md-4'i><'col-md-6 small'p><'col-md-2'>>",
           
                buttons:
                    [
                        { extend: 'copy', className: 'btn btn-sm btn-outline-primary' },
                        { extend: 'csv', className: 'btn btn-sm btn-outline-primary' },
                        { extend: 'excel', className: 'btn btn-sm btn-outline-primary' },
                        { extend: 'pdf', orientation: 'landscape', pageSize: 'LEGAL', className: 'btn btn-sm btn-outline-primary' },
                        { extend: 'print', className: 'btn btn-sm  btn-outline-primary' }

                    ],
                pageLength: 50
            });
            $('#list').css('display', 'block');

            $(".dataTables_filter").hide();

            // Setup - add a text input to each footer cell
            $('#list tfoot th').each(function () {
                var title = $('#list thead th').eq($(this).index()).text();
                var field = '<input type="text"  class="dtplaceholder datatableSearch form-control form-input" placeholder=" &#xf002" name="' + title.replace(' ', '') + '" id="' + title.replace(' ', '') + '" />';
                $(this).html(field);


            });

            $('#list tfoot tr').appendTo('#list thead');
            $('#Email').on('keyup', function () {
                $('#list')
                    .DataTable().columns(0)
                    .search($('#Email').val(), false, true)
                    .draw();
            });

            $('#FullName').on('keyup', function () {
                $('#list')
                    .DataTable().columns(1)
                    .search($('#FullName').val(), false, true)
                    .draw();
            });

            $('#Time').on('keyup', function () {
                $('#list')
                    .DataTable().columns(2)
                    .search($('#Time').val(), false, true)
                    .draw();
            });

            $('#Activity').on('keyup', function () {
                $('#list')
                    .DataTable().columns(3)
                    .search($('#Activity').val(), false, true)
                    .draw();
            });
        });


    </script>
}

