@page "/changepassword"
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    ViewData["Page"] = "Change Password";
}

<style>
    .card label {
        margin-top: 10px;
    }

    .text-danger {
        font-size: 12px;
    }

    .required ::after {
        content: " *" !important;
        color: red !important;
    }
</style>


<partial name="_StatusMessage" for="StatusMessage" />
<form id="change-password-form" method="post">
    <div class="container-fluid" id="profile">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <div class="card border shadow">
                    <div class="card-header ">
                        <h4 class="card-title text-center">Change Password</h4>
                    </div>
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-md-4 text-right required">
                                <label asp-for=Input.OldPassword class="control-label"></label>
                            </div>
                            <div class="col-md-7 form-group ">
                                <input class="form-control" asp-for=Input.OldPassword />
                                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4 text-right required">
                                <label asp-for=Input.NewPassword class="control-label"></label>
                            </div>
                            <div class="col-md-7 form-group ">
                                <input class="form-control" asp-for=Input.NewPassword />
                                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 text-right required">
                                <label asp-for=Input.ConfirmPassword class="control-label"></label>
                            </div>
                            <div class="col-md-7 form-group ">
                                <input class="form-control" asp-for=Input.ConfirmPassword />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label class="control-label" asp-for="Input.OldPassword"></label> <span class="text-danger pl-1">*</span>
                            <input asp-for="Input.OldPassword" class="form-control" />
                            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label" asp-for="Input.NewPassword"></label><span class="text-danger pl-1">*</span>
                            <input asp-for="Input.NewPassword" class="form-control" />
                            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label" asp-for="Input.ConfirmPassword"></label><span class="text-danger pl-1">*</span>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>*@


                    </div>
                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-outline-primary">Update password</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>