@page
@model EmailResendConfirmationMsgModel
@{
    ViewData["Title"] = "Resend Confirmation";
    Layout = "_LayoutAnonymous";
    ViewData["Page"] = "Resend Confirmation Email";
}

<p class="lead text-center text-white">Please check your email for the confirmation Email</p>
