@page "/ChangeEmail"
@model EmailModel
@{
    ViewData["ActivePage"] = ManageNavPages.Email;
    Layout = "_LayoutAnonymous";
}

<p class="display-3 text-white text-center">@GlobalVariables.AppShortName</p>

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <form method="post" class="loginPage">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">

                @if (Model.IsEmailConfirmed)
                {
                    <p class="lead text-center text-white"> Change your Email</p>
                    <div class="inputBox">
                        <input asp-for="Email" class="form-control" disabled />
                        <label>Current Email</label>
                    </div>
                    <div class="form-group">
                        <div class="inputBox">

                            <input asp-for="Input.NewEmail" class="form-control" autofocus />
                            <label asp-for="Input.NewEmail"></label>
                            <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                        </div>
                    </div>
                    <br /> <br />
                    <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="form-control  btn btn-primary justify-content-center">Change email</button>
                    <br /> <br />
                }
                else
                {
                    <p class="lead text-center text-white">Your email is not yet confirmed. Please confirm first</p>

                    <input asp-for="Email" class="form-control" disabled /> <br /> <br />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="form-control btn btn-primary  justify-content-center">Send verification email</button>
                    <br /> <br />
                }
            </div>
           
        </form>
    </div>
</div>

