@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "_LayoutAnonymous";
    ViewData["Page"] = "Forgot Password";
}
<!--  Login Content  -->
<p class="display-3 text-white text-center">@GlobalVariables.AppName</p>
<p class="lead text-center text-white"> ForGot Password</p>
<br />
<br />
<br />
<form method="post" class="loginPage">
    <div class="inputBox">
        <input type="email"
               asp-for="Input.Email"
               required
               onkeyup="this.setAttribute('value', this.value);"
               value="" />
        <label>Email</label>
    </div>

    <br />
    <br />
    <br />

    <div class="logindiv inputBox">

        <input type="submit" name="Reset Password" value="Reset" />
    </div>

</form>