@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout="_LayoutAnonymous";
    ViewData["Page"] = "Forgot Password Confirmation";
}


<p class="lead text-center text-white">Please check your email to reset your password</p>

