@page
@model IndexModel
@{
    ViewData["Title"] = "Edit your Profile";
    ViewData["Page"] = "My Profile";

    bool isAuthorizedForDelete = AuthorizationService.AuthorizeAsync(User, MMPolicies.AllowSetupDelete).Result.Succeeded;
    bool isAuthorizedForUpdate = AuthorizationService.AuthorizeAsync(User, MMPolicies.AllowSetupUpdate).Result.Succeeded;
}

<style>
    body {
        background-color: #f0f5f5;
    }

    .main-panel > .content {
        margin-top: 75px;
    }

    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        padding: 3px 3px;
    }

    .ajax-loader {
        visibility: hidden;
        background-color: rgba(255,255,255,0.7);
        position: absolute;
        z-index: +100 !important;
        width: 100%;
        height: 100%;
    }

        .ajax-loader img {
            position: relative;
            top: 50%;
            left: 50%;
        }

    .table > tbody > tr > td,
    .table > tbody > tr > th {
        border-top: none;
    }

    .table {
        border-top: none;
    }

    .main-panel {
        padding-top: 15px;
    }

    .error {
        color: #ef8157 !important;
        display: none;
        font-size: 12px;
    }

    .regMemberForm .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    }

    .regMemberForm .disability-align {
        margin-bottom: 20px;
    }

    .regMemberForm .banking-icon {
        font-size: 25px;
        margin-left: 5px;
        color: #22b9ff;
    }

    .regMemberForm #otherCountry {
        visibility: hidden;
    }

    /*    .regMemberForm #addEmployment {
        display: none;
    }

    .regMemberForm #addEmploymentbutton {
        display: none;
    }*/

    .regMemberForm .delbtn {
        cursor: pointer;
    }

    input.input-validation-error {
        background-color: #FFC0A4;
        border: 1px solid #ef8157;
    }

    select.input-validation-error {
        background-color: #FFC0A4;
        border: 1px solid #ef8157;
    }

    .text-danger {
        font-size: 12px;
    }

    .required ::after {
        content: " *" !important;
        color: red !important;
    }

    .input-group, .form-group {
        margin-bottom: 2px;
    }

        .form-group .form-control, .input-group .form-control {
            padding: 5px 5px 5px 5px;
            font-size: 12px;
        }

    .regMemberForm .custom-file-label {
        overflow: hidden;
        white-space: nowrap;
    }

    .nav-top-style {
        padding-top: 0px !important;
    }

    .indprofModal {
        max-width: 600px;
    }

    .card label {
        margin-top: 5px;
    }

    input::-webkit-input-placeholder {
        font-size: 10px;
        line-height: 3;
    }

    ::-moz-placeholder {
        font-size: 11px;
        line-height: 3;
    }

    :-ms-input-placeholder {
        font-size: 11px;
        line-height: 3;
    }
</style>

<form id="RegisterForm" method="post" name="RegisterForm" enctype="multipart/form-data">

    <div class="row regMemberForm" id="regMemberForm">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header text-center">

                    <h5 class="card-title">
                        Edit your profile
                    </h5>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                </div>
                <div class="card-body nav-top-style">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <ul id="tabs" class="nav nav-pills mb-3" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="pill" href="#one" role="tab" aria-controls="one" aria-selected="true">Profile Information</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#two" role="tab" aria-controls="two" aria-selected="false">Contact Information</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="my-tab-content2" class="tab-content">

                        
                        <div class="tab-pane active" id="one" role="tabpanel" aria-expanded="true">
                            <div class="row">
                                <div class="col-3">&nbsp;</div>
                                <div class="col-md-6">
                                    <div class="row">

                                        <div class="col-md-12">
                                            <div class="card border shadow-none">

                                                <div class="card-body ">
                                                    <div class="row mb-2 has-label">
                                                        <div class="col-md-4 required text-right">
                                                            <label asp-for=ApplicationIndividualVM.Email class="control-label"></label>
                                                        </div>
                                                        <div class="col-md-8 form-group ">
                                                            <input type="text" class="form-control" asp-for=ApplicationIndividualVM.Email readonly />
                                                            <span asp-validation-for="ApplicationIndividualVM.Email" class="text-danger"></span>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-2 has-label">
                                                        <div class="col-md-4  required text-right">
                                                            <label asp-for=ApplicationIndividualVM.TitleId class="control-label"></label>
                                                        </div>
                                                        <div class="col-md-8 form-group ">
                                                            <select class="form-control form-input" asp-for=ApplicationIndividualVM.TitleId asp-items=ViewBag.Titles>
                                                                <option value="" selected disabled>Select title</option>
                                                            </select>
                                                            <span asp-validation-for="ApplicationIndividualVM.TitleId" class="text-danger"></span>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-2 has-label">
                                                        <div class="col-md-4  required text-right">
                                                            <label asp-for=ApplicationIndividualVM.FirstName class="control-label"></label>
                                                        </div>
                                                        <div class="col-md-8 form-group ">
                                                            <input type="text" class="form-control" asp-for=ApplicationIndividualVM.FirstName />
                                                            <span asp-validation-for="ApplicationIndividualVM.FirstName" class="text-danger"></span>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-2 has-label">
                                                        <div class="col-md-4 required text-right">
                                                            <label asp-for=ApplicationIndividualVM.LastName class="control-label"></label>
                                                        </div>
                                                        <div class="col-md-8 form-group ">
                                                            <input type="text" class="form-control" asp-for=ApplicationIndividualVM.LastName />
                                                            <span asp-validation-for="ApplicationIndividualVM.LastName" class="text-danger"></span>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-2 has-label">
                                                        <div class="col-md-4  required text-right">
                                                            <label asp-for=ApplicationIndividualVM.GenderId class="control-label"></label>
                                                        </div>
                                                        <div class="col-md-8 form-group ">
                                                            <select type="text" class="form-control" asp-for=ApplicationIndividualVM.GenderId asp-items=ViewBag.Genders>
                                                                <option value="" selected disabled>Select Gender</option>
                                                            </select>
                                                            <span asp-validation-for="ApplicationIndividualVM.GenderId" class="text-danger"></span>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-2 has-label">
                                                        <div class="col-md-4 required text-right">
                                                            <label asp-for=ApplicationIndividualVM.BirthDay class="control-label"></label>
                                                        </div>
                                                        <div class="col-md-8 form-group ">
                                                            <input type="date" class="form-control" asp-for=ApplicationIndividualVM.BirthDay />
                                                            <span asp-validation-for="ApplicationIndividualVM.BirthDay" class="text-danger"></span>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-2 has-label">

                                                        <div class="col-md-4 required text-right">
                                                            <label asp-for=ApplicationIndividualVM.MobilePhone class="control-label"></label>
                                                        </div>
                                                        <div class="col-md-8 form-group ">
                                                            <input type="text" class="form-control" asp-for=ApplicationIndividualVM.MobilePhone />
                                                            <span asp-validation-for="ApplicationIndividualVM.MobilePhone" class="text-danger"></span>
                                                        </div>

                                                    </div>



                                                    @*<div class="row mb-md-4">

                                            <div class="col-md-6 row">
                                                <div class="col-md-4 required text-right">
                                                    <label asp-for=ApplicationIndividualVM.Email class="control-label"></label>
                                                </div>
                                                <div class="col-md-8 form-group ">
                                                    <input type="text" class="form-control" asp-for=ApplicationIndividualVM.Email readonly />
                                                    <span asp-validation-for="ApplicationIndividualVM.Email" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-6 row mt-1">
                                                <div class="col-md-4  required text-right">
                                                    <label asp-for=ApplicationIndividualVM.TitleId class="control-label"></label>
                                                </div>
                                                <div class="col-md-8 form-group ">
                                                    <select class="form-control form-input" asp-for=ApplicationIndividualVM.TitleId asp-items=ViewBag.Titles>
                                                        <option value="" selected disabled>Select title</option>
                                                    </select>
                                                    <span asp-validation-for="ApplicationIndividualVM.TitleId" class="text-danger"></span>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="row mb-2">
                                            <div class="col-md-6 row">
                                                <div class="col-md-4  required text-right">
                                                    <label asp-for=ApplicationIndividualVM.FirstName class="control-label"></label>
                                                </div>
                                                <div class="col-md-8 form-group ">
                                                    <input type="text" class="form-control" asp-for=ApplicationIndividualVM.FirstName />
                                                    <span asp-validation-for="ApplicationIndividualVM.FirstName" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-6 row">
                                                <div class="col-md-4 required text-right">
                                                    <label asp-for=ApplicationIndividualVM.LastName class="control-label"></label>
                                                </div>
                                                <div class="col-md-8 form-group ">
                                                    <input type="text" class="form-control" asp-for=ApplicationIndividualVM.LastName />
                                                    <span asp-validation-for="ApplicationIndividualVM.LastName" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-2">
                                            <div class="col-md-6 row">
                                                <div class="col-md-4  required text-right">
                                                    <label asp-for=ApplicationIndividualVM.GenderId class="control-label"></label>
                                                </div>
                                                <div class="col-md-8 form-group ">
                                                    <select type="text" class="form-control" asp-for=ApplicationIndividualVM.GenderId asp-items=ViewBag.Genders>
                                                        <option value="" selected disabled>Select Gender</option>
                                                    </select>
                                                    <span asp-validation-for="ApplicationIndividualVM.GenderId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 row">
                                                <div class="col-md-4 required text-right">
                                                    <label asp-for=ApplicationIndividualVM.BirthDay class="control-label"></label>
                                                </div>
                                                <div class="col-md-8 form-group ">
                                                    <input type="date" class="form-control" asp-for=ApplicationIndividualVM.BirthDay />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mb-2">
                                            <div class="col-md-6 row">
                                                <div class="col-md-4 required text-right">
                                                    <label asp-for=ApplicationIndividualVM.MobilePhone class="control-label"></label>
                                                </div>
                                                <div class="col-md-8 form-group ">
                                                    <input type="text" class="form-control" asp-for=ApplicationIndividualVM.MobilePhone />
                                                </div>
                                            </div>
                                        </div>*@

                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="col-3">&nbsp;</div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="two" role="tabpanel" aria-expanded="false">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card border shadow-none">
                                        <div class="card-header">
                                            <h6><b>Physical Address</b></h6>
                                        </div>

                                        <div class="card-body">
                                            <div class="row mb-2 has-label">
                                                <div class="col-md-4 text-right">
                                                    <label asp-for=ApplicationIndividualVM.PhysicalAddressLine1 class="control-label"></label>
                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <input type="text" class="form-control form-input" asp-for=ApplicationIndividualVM.PhysicalAddressLine1 />
                                                </div>
                                            </div>

                                            <div class="row mb-2 has-label">
                                                <div class="col-md-4 text-right">
                                                    <label asp-for=ApplicationIndividualVM.PhysicalAddressLine2 class="control-label"></label>
                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <input type="text" class="form-control form-input" asp-for=ApplicationIndividualVM.PhysicalAddressLine2 />
                                                </div>
                                            </div>

                                            <div class="row mb-2 has-label">
                                                <div class="col-md-4 text-right">
                                                    <label asp-for=ApplicationIndividualVM.PhysicalSuburb class="control-label"></label>
                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <input type="text" class="form-control form-input" asp-for=ApplicationIndividualVM.PhysicalSuburb />
                                                </div>
                                            </div>

                                            <div class="row mb-2 has-label">
                                                <div class="col-md-4 text-right">
                                                    <label asp-for=ApplicationIndividualVM.PhysicalCity class="control-label"></label>
                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <input type="text" class="form-control form-input" asp-for=ApplicationIndividualVM.PhysicalCity />
                                                </div>
                                            </div>

                                            <div class="row mb-2 has-label">
                                                <div class="col-md-4 text-right">
                                                    <label asp-for=ApplicationIndividualVM.PhysicalProvince class="control-label"></label>
                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <select type="text" class="form-control form-input" asp-for=ApplicationIndividualVM.PhysicalProvince asp-items=ViewBag.Provinces>
                                                        <option value="" selected disabled>Select Province</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row mb-2 has-label">
                                                <div class="col-md-4 text-right">
                                                    <label asp-for=ApplicationIndividualVM.PhysicalCountryId class="control-label"></label>
                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <select type="text" class="form-control form-input" asp-for=ApplicationIndividualVM.PhysicalCountryId asp-items=ViewBag.Countries>
                                                        <option value="" selected disabled>Select Country</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row mb-2 has-label">
                                                <div class="col-md-4 text-right">
                                                    <label asp-for=ApplicationIndividualVM.PhysicalPostalCode class="control-label"></label>

                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <input type="text" class="form-control form-input" asp-for=ApplicationIndividualVM.PhysicalPostalCode />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="card border shadow-none">
                                        <div class="card-header">
                                            <h6><b>Postal Address</b></h6>
                                        </div>

                                        <div class="card-body">
                                            <div class="row mb-2 has-label">
                                                <div class="col-md-4 required text-right">
                                                    <label asp-for=ApplicationIndividualVM.PostalAddressLine1 class="control-label"></label>

                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <input type="text" class="form-control form-input" asp-for=ApplicationIndividualVM.PostalAddressLine1 />
                                                    <span asp-validation-for="ApplicationIndividualVM.PostalAddressLine1" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="row mb-2 has-label">
                                                <div class="col-md-4 required text-right">
                                                    <label asp-for=ApplicationIndividualVM.PostalAddressLine2 class="control-label"></label>

                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <input type="text" class="form-control form-input" asp-for=ApplicationIndividualVM.PostalAddressLine2 />
                                                    <span asp-validation-for="ApplicationIndividualVM.PostalAddressLine2" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="row mb-2 has-label">
                                                <div class="col-md-4 required text-right">
                                                    <label asp-for=ApplicationIndividualVM.PostalSuburb class="control-label"></label>

                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <input type="text" class="form-control form-input" asp-for=ApplicationIndividualVM.PostalSuburb />
                                                    <span asp-validation-for="ApplicationIndividualVM.PostalSuburb" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="row mb-2 has-label">
                                                <div class="col-md-4 required text-right">
                                                    <label asp-for=ApplicationIndividualVM.PostalCity class="control-label"></label>

                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <input type="text" class="form-control form-input" asp-for=ApplicationIndividualVM.PostalCity />
                                                    <span asp-validation-for="ApplicationIndividualVM.PostalCity" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="row mb-2 has-label">
                                                <div class="col-md-4 required text-right">
                                                    <label asp-for=ApplicationIndividualVM.PostalProvince class="control-label"></label>

                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <select type="text" class="form-control form-input" asp-for=ApplicationIndividualVM.PostalProvince asp-items=ViewBag.Provinces>
                                                        <option value="" selected disabled>Select Province</option>
                                                    </select>
                                                    <span asp-validation-for="ApplicationIndividualVM.PostalProvince" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="row mb-2 has-label">
                                                <div class="col-md-4 required text-right">
                                                    <label asp-for=ApplicationIndividualVM.PostalCountryId class="control-label"></label>

                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <select type="text" class="form-control form-input" asp-for=ApplicationIndividualVM.PostalCountryId asp-items=ViewBag.Countries>
                                                        <option value="" selected disabled>Select Country</option>
                                                    </select>
                                                    <span asp-validation-for="ApplicationIndividualVM.PostalCountryId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="row mb-2 has-label">
                                                <div class="col-md-4 required text-right">
                                                    <label asp-for=ApplicationIndividualVM.PostalPostalCode class="control-label"></label>

                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <input type="text" class="form-control form-input" asp-for=ApplicationIndividualVM.PostalPostalCode />
                                                    <span asp-validation-for="ApplicationIndividualVM.PostalPostalCode" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="submit" id="btnSubmit" class="btn btn-outline-primary float-right register-btn">Update Profile</button>
                    </div>
                </div>
            </div>

            <div class="col-md-6">

            </div>
        </div>
    </div>
</form>



@section scripts {
    <script>




        $(document).ready(function () {



            //$('#ApplicationIndividualVM_Initials').val("I");

            //$('#ApplicationIndividualVM_TitleId').val("1");
            //$('#ApplicationIndividualVM_GenderId').val("1");
            //$('#ApplicationIndividualVM_BirthDay').val("2020-10-22");
            //$('#ApplicationIndividualVM_HighestQualificationId').val("8");
            //$('#ApplicationIndividualVM_OccupationId').val("6");
            //$('#ApplicationIndividualVM_JobTitle').val("CEO");
            //$('#ApplicationIndividualVM_HomeLanguageId').val("1");
            //$('#ApplicationIndividualVM_EthnicityId').val("3");
            //$('#ApplicationIndividualVM_IDNumber').val("SP00112233");
            //$('#ApplicationIndividualVM_NationalityId').val("1");
            //$('#ApplicationIndividualVM_HomePhoneNumber').val("0134679852");
            //$('#ApplicationIndividualVM_BusinessPhoneNumber').val("0316497258");
            //$('#ApplicationIndividualVM_MobilePhone').val("9764310258");
            //$('#ApplicationIndividualVM_SecondaryEmail').val("ceo@abz.co.za");
            //$('#ApplicationIndividualVM_FAXNumber').val("9865327410");
            //$('#ApplicationIndividualVM_FaxToEmail').val("7845120963");
            //$('#ApplicationIndividualVM_PostalAddressLine1').val("CEO, ABZ Villa");
            //$('#ApplicationIndividualVM_PostalAddressLine2').val("ABZ Lane, Hill Top");
            //$('#ApplicationIndividualVM_PostalSuburb').val("Forst Place");
            ////$('#ApplicationIndividualVM_PostalCity').val("Midrand");
            //$('#ApplicationIndividualVM_PostalProvince').val("2");
            //$('#ApplicationIndividualVM_PostalCountryId').val("1");
            //$('#ApplicationIndividualVM_PostalPostalCode').val("2020");
            //$('#ApplicationIndividualVM_PhysicalAddressLine1').val("CEO Office, ABZ Corp");
            //$('#ApplicationIndividualVM_PhysicalAddressLine2').val("ABZ Lane, RiverSide");
            //$('#ApplicationIndividualVM_PhysicalSuburb').val("Morningside");
            //$('#ApplicationIndividualVM_PhysicalCity').val("Sandton");
            //$('#ApplicationIndividualVM_PhysicalProvince').val("2");
            //$('#ApplicationIndividualVM_PhysicalCountryId').val("1");
            //$('#ApplicationIndividualVM_PhysicalPostalCode').val("2020");
            //$('#ApplicationIndividualVM_EmploymentAttached').val("2");
            //$('#ApplicationIndividualVM_ClientBranchId').val("3");
            //$('#ApplicationIndividualVM_ReferralTypeId').val("3");
            //$('#ApplicationIndividualVM_ReferralOther').val("Social Media");

            //$("#qualCategory").val("1");
            //$("#qualInstitute").val("institue 1");
            //$("#qualName").val("Masters");
            //$("#qualStudNumber").val("123456");
            //$("#qualStartDate").val("2020-10-22");
            //$("#qualEndDate").val("2020-10-22");
            //$("#qualType").val("1");
            //$("#qualEnrolCategory").val("1");

            //$("#empCategory").val("1");
            //$("#employer").val("Nedbank");
            //$("#empDesignation").val("Tester");
            //$("#empStartDate").val("2020-10-22");
            //$("#empEndDate").val("2020-10-22");
            //$("#empTelNumber").val("12345667");
            //$("#empCompEmail").val("shatlin@gmail.com");
            //$("#empDuties").val("Some Duties");



        });

        function setFormValidation(id) {
            $(id).validate({
                highlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-danger');
                    $(element).closest('.form-check').removeClass('has-success').addClass('has-danger');
                },
                success: function (element) {
                    $(element).closest('.form-group').removeClass('has-danger').addClass('has-success');
                    $(element).closest('.form-check').removeClass('has-danger').addClass('has-success');
                },
                errorPlacement: function (error, element) {
                    $(element).closest('.form-group').append(error);
                },
            });
        }

        $(document).ready(function () {
            setFormValidation('#RegisterForm');

        });
    </script>

}