@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
    ViewData["Page"] = "Register confirmation";
    Layout = "_LayoutAnonymous";
}

    <p class="lead text-center text-white">You are succesfully registered. Please check your mail to confirm email address</p>

