@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    ViewData["Page"] = "Reset password confirmation";
    Layout = "_LayoutAnonymous";
}
<p class="lead text-center text-white">Your Password is Reset.</p>
<p>
    <a asp-page="./Login"> Your password has been reset. Please click here to log in</a>.
</p>