@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    ViewData["Page"] = "Reset password";
    Layout = "_LayoutAnonymous";
}


<p class="display-3 text-white text-center">@GlobalVariables.AppName</p>
<p class="lead text-center text-white"> Reset your Password</p>

<form method="post" class="loginPage">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Input.Code" type="hidden" />
    <div class="inputBox">
        <input type="email"
               asp-for="Input.Email"
               required
               onkeyup="this.setAttribute('value', this.value);"
               value="" />
        <label>Email</label>
    </div>
    <div class="inputBox">

        <input type="password"
               asp-for="Input.Password"
               required
               value="" />
        <label>Password</label>
    </div>

    <div class="inputBox">

        <input type="password"
               asp-for="Input.ConfirmPassword"
               required
               value="" />
        <label>Confirm Password</label>
    </div>

<div class="logindiv inputBox">
    <input type="submit" name="Reset" value="Reset">
</div>
   
</form>
