@page
@model SetNewPasswordModel
@{
    ViewData["Title"] = "Reset password";
    ViewData["Page"] = "Reset password";
    Layout = "_LayoutAnonymous";

}
<p class="display-3 text-white text-center">WISA</p>
<p class="lead text-center text-white"> Email Confirmed. Please create a Password</p>
<br />
<br />
<br />
<form method="post" class="loginPage">

    <input type="hidden" asp-for="Input.Code"        />
    <div class="inputBox">
        <input type="email"
               asp-for="Input.Email"
               readonly/>
        <label>Email</label>
    </div>

    <div class="inputBox">

        <input asp-for="Input.Password" required
               onkeyup="this.setAttribute('value', this.value);"
               value="" />

        <label asp-for="Input.Password"></label>
    </div>

    <div class="inputBox">
        <input asp-for="Input.ConfirmPassword" required
               onkeyup="this.setAttribute('value', this.value);"
               value="" />

        <label asp-for="Input.ConfirmPassword"></label>
    </div>

    <br />
    <br />
    <br />

    <div class="wisalogin inputBox">

        <input type="submit" name="Reset Password" value="Reset" />
    </div>

</form>