@page
@model SetPasswordConfirmationModel
@{
    ViewData["Title"] = " password Creation confirmation";
    ViewData["Page"] = "password Creation confirmation";
    Layout = "_LayoutAnonymous";
}

<p class="lead text-center text-white">Your password has been set successfully. Please <a asp-page="./Login">click here to log in</a></p>
